<style>
    header,
    section,
    footer {
        display: block;
    }

    html,
    body {
        margin: 0;
        padding: 0;
        height: 100%;
        margin-top: 40px;
    }

    body {
        width: 100%;
        display: -moz-box;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;

        -moz-box-orient: vertical;
        -webkit-box-orient: vertical;
        -moz-box-direction: normal;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        -webkit-flex-direction: column;
        flex-direction: column;
    }

    section {
        -moz-box-flex: 1;
        -webkit-box-flex: 1;
        -ms-flex: 1;
        -webkit-flex: 1;
        flex: 1;
        background: #fff;
    }

    footer {
        background-image: linear-gradient(15deg, #2C3D4E 0%, #5eaa84 100%);
    }
</style>

<section></section>
{%load static%}
<footer class="d-flex flex-lg-row flex-column text-lg-start text-center" style="background-color: #7edffb;">
    <div class="container d-flex flex-lg-row flex-column py-lg-10 py-5 align-items-center gy-2">

        <div class="container mb-lg-0 mb-5 d-flex flex-column">
            <h6 class="text-white fs-20 lh-1">© 2022 Esctop Todos os direitos reservados</h6>
        </div>
    </div>

</footer>