<style>

    footer {
        background: #2C3D4E;
        padding: 50px 0px 20px 0px;
        position: relative;
        
    }
    
    footer h4 {
        color: #919496;
        font-size: 0.8em;
        text-transform: uppercase;
    }
    
    footer .navbar-nav a {
        color: white;
        font-size: 0.8em;
    }
    
    footer .navbar-nav a:hover {
        color: #5eaa84;
        text-decoration: none;
    }
    
    footer ul {
        list-style: none;
    }
    
    footer ul li {
        float: right;
        margin: 0 5px;
    }
</style>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <img src="" width="142">
            </div>
            <div class="col-md-2">
                <h4>Título 1</h4>
                <ul class="navbar-nav">
                    <li><a href="">Link 1</a></li>
                    <li><a href="">Link 2</a></li>
                    <li><a href="">Link 3</a></li>
                    <li><a href="">Link 4</a></li>
                </ul>
            </div>
            <div class="col-md-2">
                <h4>Título 2</h4>
                <ul class="navbar-nav">
                    <li><a href="">Link 1</a></li>
                    <li><a href="">Link 2</a></li>
                    <li><a href="">Link 3</a></li>
                </ul>
            </div>
            <div class="col-md-2">
                <h4>Título 3</h4>
                <ul class="navbar-nav">
                    <li><a href="">Link 1</a></li>
                    <li><a href="">Link 2</a></li>
                    <li><a href="">Link 3</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul>
                    <li>
                    <a href=""><img src="/static/imagens/facebook.png"></a>
                    </li>
                    <li>
                    <a href=""><img src="/static/imagens/instagram.png"></a>
                    </li>
                    <li>
                    <a href=""><img src="/static/imagens/twitter.png"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="text-center p-3">	
        <a class="text-white" href="#">© 2022 Copyright: ESCTOP</a>
    </div>
</footer>

