{% extends 'base.html' %}

{% block content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Início</a></li>
        <li class="breadcrumb-item active" aria-current="page">Lista de aniversariantes</li>
    </ol>
</nav>

<div class="row">
    <div class="col-12">
        <h1>Lista de aniversariantes</h1>
    </div>
</div>

<div class="class page-header" >
    {% if aniversariantes_credcoop %}    
        <table class="table table-striped table-hover text-uppercase" >
            <thead class="thead">
                <tr>
                    <th>Nome</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for aniversariante_credcoop in aniversariantes_credcoop %}
                    <tr>
                        {% if aniversariante_credcoop.nome %}
                            <td class="text-uppercase">{{aniversariante_credcoop.nome}}</td>
                        {% else %}
                            <td class="text-uppercase">{{aniversariante_credcoop.razao_social}}</td>
                        {% endif %}
                        <td style="text-align:center"> 
                            <a href="{{ aniversariante_credcoop.get_absolute_url}}" >
                                <button class="btn btn-info">Gerenciar</button>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>    
    {% endif %}

</div>

{% endblock content %}