{% extends 'base.html' %}
{% load widget_tweaks %}
{% block js %}{% endblock js %}


{% block content %}
<div class="jumbotron">
    <div class="container">
        <h1>(CREDCOOP)</h1>
    </div>
    <button type="button" class="btn btn-success m-4" data-toggle="modal" data-target="#exampleModal"
        data-whatever="@mdo"><span class="fa fa-plus"></span> Cadastrar</button>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel">O CLIENTE JÁ POSSUI FIADOR CADASTRADO?</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <span class="pull-center">
                        <a href="{% url 'cliente:credcoop_add' %}" type="button" class="btn btn-success">SIM</a>
                        <a href="{% url 'cliente:fiador_add' %}" type="button" class="btn btn-danger">NÃO</a>
                    </span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>                   
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}