{% extends 'base.html' %}

{% block css %}

    <style>
        .jumbotron {
            background-image: linear-gradient(90deg, #054988 0%, #24515F 100%);
            
            opacity: 0.8;
        }
        h1 {
            color: white;
            font-size: 5em;
        }

        .niver {
            background-color: #5eaa84;
        }
    </style>

{% endblock css %}

{% block content %}
<div class="jumbotron jumbotron-fluid shadow rounded">
    <div class="container">
        <h1>Bem Vindo</h1>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card text-white mb-3" style="max-width: 18rem;">
            <div class="card-header niver"><h5>Aniversariantes de hoje</h5></div>
            <div class="card-body niver">
                {% if total_aniversariantes > 0 %}
                    <p class="card-title">{{total_aniversariantes}} Aniversariante(s)</p>
                    <a href="{% url 'core:aniversariantes'%}" class="btn btn-primary">Ver lista</a>
                {% else %}
                    <p class="card-text">Nenhum aniversariante hoje</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}