{% extends "base.html" %}

{% block content %}

<style>
    thead{
        background-color: rgb(165, 165, 165);
    }   
</style>

<div class="class page-header">  
    <div class="float-right">
        <a href="{% url 'avalista:avalista_cadastra' %}" type="button" class="btn btn-success">Cadastrar Fiador</a>
    </div>
    
    <div>
        <h2>Lista de Fiadores Esctop</h2>
    </div>
    
    {% if object_list %}
    
    <table class="table table-striped table-hover">
       
        <thead class="thead">
                <tr>
                    <th>Fiador</th>                    
                    <th>CPF</th>                                                   
                    <th></th>                                                   
                </tr>
            </thead>
            <tbody>
                {% for object in object_list  %}   
                <tr>                              
                    <td class="maiusculo">{{ object.fiador_nome }}</td>
                    <td class="maiusculo">{{ object.fiador_cpf }}</td>   
                    <td style="text-align:center"> 
                        <a href="{{ object.get_absolute_url}}" ><button class="btn btn-info">Gerenciar</button></a> 
                    </td>
                </tr>
                {% endfor %}
            </tbody>
      
    </table>
    {% else %}
        <p class="alert alert-warning">Sem Avalistas cadastrados</p>
    {% endif %}

</div>

{% endblock content %}