{% extends "base.html" %}

{% block js %}{% endblock js %}

{% block css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />


<style>    
    body {
        background: rgba(0, 128, 0, 0.3) /* Green background with 30% opacity */
    }

    .form-control:focus {
        border-width: 1px !important;
    }
</style>
{% endblock css %}

{% block content %}
    
<div class="row d-flex justify-content-center">
    <div class="col " style="max-width: 500px !important;">
        <div class="d-flex justify-content-center mt-5 card card-body">
            
            <div class="d-flex justify-content-center py-3 mt-1">
                <h2 id="form-title">ESCTOP</h2>
            </div>
            <div class="d-flex justify-content-center">
                <form method="POST" action="">
                    {% csrf_token %}
                    <div class="row" style="max-width: 350px !important;">
                        <div class="col-12">
                            {% if form.non_field_errors %}
                                <p class="text-danger"><em>Seu <strong>usuário</strong> e <strong>senha</strong> não correspondem. Por favor, tente novamente.</em></p>
                            {% endif %}
                        </div>
                        <div class="col-12">
                            <div class="input-group mb-0">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fa-solid fa-user-large"></i>
                                    </div>
                                </div>
                                <input type="text" class="form-control {% if form.username.errors %}is-invalid{% endif %}" id="id_username" name="username" placeholder="Digite seu usuário" autofocus="">
                            </div>

                            {% if form.username.errors %}
                                <small class="text-danger">{{form.username.errors}}</small>
                            {% endif %}

                            <div class="input-group mb-0 pt-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fa-solid fa-key"></i>
                                    </div>
                                </div>
                                <input type="password" class="form-control {% if form.password.errors %}is-invalid{% endif %}" name="password" autocomplete="current-password" id="id_password" placeholder="Digite sua senha">
                            </div>
        
                            {% if form.password.errors %}
                                <small class="text-danger">{{form.password.errors}}</small>
                            {% endif %}

                        </div>
                    </div>
                    
                    <div class="row py-4">
                        <div class="col-12">
                            <button class="btn btn-success btn-block" type="submit">Entrar</button>
                        </div>
                    </div>
                    <div class="row py-4">
                        <div class="col-12">
                            <div class="d-flex justify-content-center links">
                                <a href="#" class="ml-2">Criar uma conta? </a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            
            
        </div>
    </div>
</div>

{% endblock content %}
