<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <title>Login</title>

    <style>
        html {
            min-height: 100%;
        }
        
        body {
            background: rgba(0, 128, 0, 0.3) /* Green background with 30% opacity */
        }
        ul {
            list-style-type: none !important;
            padding-left: 0 !important;
            font-size: small;
        }
    </style>
</head>
<body>
    <div class="row d-flex justify-content-center">
        <div class="col " style="max-width: 500px !important;">
            <div class="d-flex justify-content-center mt-5 card card-body">
                
                <div class="d-flex justify-content-center py-3">
                    <h3 id="form-title">ESCTOP</h3>
                </div>
                <div class="d-flex justify-content-center">
                    
                    <form method="POST" action="">
                        {% csrf_token %}
                        <div class="mb-3 text-center text-uppercase">
                            <div class="input-group">
                                <div class="input-group-text"><i class="fa-solid fa-user-large"></i></div>
                                <input type="text" class="form-control" id="id_username" name="username" placeholder="{{form.username.label}}" autofocus="">
                            </div>
                            {% if form.username.errors %}
                                <small class="text-danger">{{form.username.errors}}</small>
                            {% endif %}
                        </div>
                        <div class="mb-3 text-center  text-uppercase">
                            <div class="input-group">
                                <div class="input-group-text"><i class="fa-solid fa-key"></i></div>
                                <input type="password" class="form-control" name="password" autocomplete="current-password" required="" id="id_password" placeholder="{{form.password.label}}">
                            </div>
                            {% if form.password.errors %}
                                <small class="text-danger">{{form.password.errors}}</small>
                            {% endif %}
                        </div>
                        
                        <div class="d-grid gap-2">
                            <button class="btn btn-primary" type="submit">Entrar</button>
                        </div>
                    </form>
                </div>
                
                <div class="mt-4">
                    <div class="d-flex justify-content-center links">
                        <a href="#" class="ml-2">Criar uma conta? </a>
                    </div>
                </div>
                
            </div>
    
        </div>
    </div>

    
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</html>



