{% extends "base.html" %}
{% load static %}
{% comment %} {% load widget_tweaks %} {% endcomment %}

{% block content %}


<div class="row" style="position: -webkit-sticky; position: sticky; top: 50px; z-index:5">
    <div class="col-12 card card-body">
        <h1>Emprestimo Nº {{ object.n_contrato }}</h1>
        {% if object.cliente %}
            <h2>Cliente: <strong>CREDCOOP</strong></h2>
        {% endif %}
        {% if object.cliente_cnpj %}
        <h2>Cliente: <strong>ESCTOP</strong></h2>
        {% endif %}
    </div>
</div>

<div class="row mt-1">
    <div class="col-sm-12 col-md-9 card card-body">        
        <table style="text-transform: uppercase;">
            <tbody>

                {% if object.cliente %}
                    <tr>
                        <th class="text-right">Nome</th>
                        <td>{{ object.cliente.nome }}</td>
                    </tr>
                {% endif %}

                {% if object.cliente_cnpj %}
                    <tr>
                        <th class="text-right">Cliente</th>
                        <td>{{ object.cliente_cnpj }}</td>
                    </tr>
                    <tr>
                        <th class="text-right">CNPJ</th>
                        <td>{{ object.cliente_cnpj.cnpj }}</td>
                    </tr>
                {% endif %}

                <tr>
                    <th class="text-right">Funcionario</th>
                    <td>{{ object.funcionario }}</td>
                </tr>    
                <tr>
                    <th class="text-right">Valor</th>
                    <td>{{ object.valor_emprestado }}</td>
                </tr>
                <tr>
                    <th class="text-right">Parcelas</th>
                    <td>{{ object.qtd_parcelas }}</td>
                </tr>
                <tr>
                    <th class="text-right">Prestacao</th>
                    <td>{{ object.valor_prestacao }}</td>
                </tr>
                <tr>
                    <th class="text-right">Data do Empréstimo</th>
                    <td type="form-control">{{ object.dt_emprestimo }}</td>                               
                </tr>  
                {% if object.cliente %}
                <tr>
                    <th class="text-right">E-mail</th>
                    <td class="text-left lower_all" type="form-control">{{ object.cliente.email }}</td>
                </tr>
                <tr>
                    <th class="text-right">Fiador</th>
                    <td class="text-left" type="form-control">{{ object.cliente.fiador }}</td>
                </tr>                
                <tr>
                    <th class="text-right">CPF do Fiador</th>
                    <td class="text-left" type="form-control">{{ object.cliente.fiador.cpf }}</td>
                </tr>                 
                <tr>
                    <th class="text-right">E-Mail do Fiador</th>
                    <td class="text-left lower_all" type="form-control">{{ object.cliente.fiador.email }}</td>
                </tr>      
                <tr>
                    <th class="text-right">Banco</th>
                    <td class="text-left">{{ object.cliente.banco|default:"" }}</td>
                </tr>
                <tr>
                    <th class="text-right">Tipo de Conta</th>
                    <td class="text-left">{{ object.cliente.tipo_de_conta|default:"" }}</td>
                </tr>
                <tr>
                    <th class="text-right">Agência</th>
                    <td class="text-left">{{ object.cliente.agencia|default:"" }}</td>
                </tr>
                <tr>
                    <th class="text-right">Conta</th>
                    <td class="text-left">{{ object.cliente.conta|default:"" }}</td>
                </tr> 
                <tr>
                    <th class="text-right">PIX</th>
                    <td class="text-left" style="text-transform: lowercase !important;">{{ object.cliente.tipo_de_chave_pix|default:"" }} | {{ object.cliente.chave_pix|default:"" }}</td>
                </tr>         
                {% else %}
                <tr>
                    <th class="text-right">E-mail</th>
                    <td class="text-left lower_all">{{ object.cliente_cnpj.email|default:"" }}</td>
                </tr>
                <tr>            
                    <th class="text-right">Fiador</th>
                    <td class="text-left">{{ object.cliente_cnpj.fiador|default:"" }}</td>
                </tr>
                <tr>
                    <th class="text-right">CPF do Fiador</th>
                    <td class="text-left">{{ object.cliente_cnpj.fiador.fiador_cpf|default:"" }}</td>
                </tr>
                <tr>
                    <th class="text-right">E-Mail do Fiador</th>
                    <td class="text-left lower_all">{{ object.cliente_cnpj.fiador.fiador_email|default:"" }}</td>
                </tr>
                <tr>
                    <th class="text-right">Banco</th>
                    <td class="text-left">{{ object.cliente_cnpj.banco|default:"" }}</td>
                </tr>
                <tr>
                    <th class="text-right">Tipo de Conta</th>
                    <td class="text-left">{{ object.cliente_cnpj.tipo_de_conta|default:"" }}</td>
                </tr>
                <tr>
                    <th class="text-right">Agência</th>
                    <td class="text-left">{{ object.cliente_cnpj.agencia|default:"" }}</td>
                </tr>
                <tr>
                    <th class="text-right">Conta</th>
                    <td class="text-left">{{ object.cliente_cnpj.conta|default:"" }}</td>
                </tr>
                <tr>
                    <th class="text-right">PIX</th>
                    <td class="text-left" style="text-transform: lowercase !important;">{{ object.cliente_cnpj.tipo_de_chave_pix|default:"" }} | {{ object.cliente_cnpj.chave_pix|default:"" }}</td>
                </tr>
                {% endif %}
                <tr>
                    {% if object.presencial %}
                        <th class="text-right">Modalidade</th>
                        <td class="text-left">Presencial</td>
                    {% endif %}  
                    {% if object.online %}
                        <th class="text-right">Modalidade</th>
                        <td class="text-left">online</td>
                    {% endif %}
                </tr>
            </tbody>
        </table>        
    </div>

    <div class="col-sm-12 col-md-3 card card-body" >
        <div class="accordion" id="accordionExample">

            <div class="card">
                <div class="card-header" id="heading1">
                    <h2 class="mb-0">
                        <button class="btn btn-primary btn-block text-center collapsed" type="button" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
                            Imprimir<span class="badge badge-success mx-2">Novo</span>
                        </button>
                    </h2>
                </div>
                <div id="collapse1" class="collapse" aria-labelledby="heading1" data-parent="#accordionExample">
                    <div class="card-body">
                        {% if object.cliente_cnpj %}  
                            <a class="dropdown-item" href="{% url 'emprestimo:esctop_promissoria' object.pk %}" target="_blank">Promissória</a>
                            <a class="dropdown-item" href="{% url 'emprestimo:esctop_contrato' object.pk %}" target="_blank">Contrato</a>
                            <a class="dropdown-item" href="{% url 'emprestimo:esctop_contrato_e_promissoria' object.pk %}" target="_blank">
                                Contrato+Promissória
                            </a>
                        {% endif %}

                        {% if object.cliente %}
                            <a class="dropdown-item" href="{% url 'emprestimo:credcoop_promissoria' object.pk %}" target="_blank">Promissória</a>
                            <a class="dropdown-item" href="{% url 'emprestimo:credcoop_contrato' object.pk %}" target="_blank" type="button">Contrato</a>
                            <a class="dropdown-item" href="{% url 'emprestimo:credcoop_contrato_e_promissoria' object.pk %}" target="_blank">
                                Contrato+Promissória
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div><!-- card -->
            
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-warning btn-block text-center collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Imprimir<span class="badge badge-danger mx-2">Antigo</span>
                        </button>
                    </h2>
                </div>
                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        {% if object.cliente %}
                            <a class="dropdown-item" href="{% url 'emprestimo:emprestimo_carne' object.pk %}" target="_blank">Carnê</a>
                        {% endif %}

                        <a class="dropdown-item" href="{% url 'emprestimo:emprestimo_promissoria' object.pk %}" target="_blank">Promissória</a>

                        {% if object.cliente_cnpj %}  
                            <a class="dropdown-item" href="{% url 'emprestimo:emprestimo_contrato_cnpj' object.pk %}" target="_blank">
                                Contrato
                            </a>
                        {% endif %}

                        {% if object.cliente %}
                            <a class="dropdown-item" href="{% url 'emprestimo:emprestimo_contrato_cpf' object.pk %}" target="_blank" type="button">
                                Contrato</a>
                        {% endif %}
                        
                    </div>
                </div>
            </div><!-- card -->

            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                        <button class="btn btn-warning btn-block text-center" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Renegociação<span class="badge badge-danger mx-2">Antigo</span>
                        </button>
                    </h2>
                </div>
            
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                        {% if object.cliente %}
                        <a class="dropdown-item" href="{% url 'emprestimo:emprestimo_carne' object.pk %}" target="_blank">Carnê</a>
                        {% endif %}

                        <a class="dropdown-item" href="{% url 'emprestimo:emprestimo_promissoria_renegociacao' object.pk %}" target="_blank">Promissória</a>

                        {% if object.cliente_cnpj %}
                            <a class="dropdown-item" href="{% url 'emprestimo:emprestimo_contrato_cnpj_renegociacao' object.pk %}" target="_blank">Contrato</a>
                        
                        {% endif %}

                        {% if object.cliente %}
                            <a class="dropdown-item" href="{% url 'emprestimo:emprestimo_contrato_cpf_renegociacao' object.pk %}" target="_blank" type="button"> Contrato</a>
                        {% endif %}
                    </div>
                </div>
            </div><!-- card -->
            
            <div class="pt-3">
                <a href="{% url 'emprestimo:emprestimo_delete' object.pk %}" type="button" class="mt-1 btn btn-danger btn-block ">Deletar</a>
            </div>
            <div>
                <button onclick="history.back()" class="mt-1 btn btn-secondary btn-block ">Voltar</button>
            </div>
        </div><!-- accordion -->
    </div>
</div><!-- row -->





{% endblock content %}