{% extends "base.html" %}

{% block content %}

<div class="class page-header">

    <div class="float-right">
        <a href="{% url 'emprestimo:emprestimo_add' %}" type="button" class="btn btn-success">Novo Empréstimo</a>
    </div>
    <div>
        <h2>Lista de Empréstimos</h2>
    </div>
    
    {% if object_list %}
        <table class="table table-striped table-hover">
            <thead class="thead">
                <tr>
                    <th>cliente</th>                    
                    <th>n_contrato</th>                    
                    <th>valor_emprestado</th>                    
                    <th>qtd_parcelas</th> 
                    <th style="text-align:center"></th>                    
                </tr>
            </thead>
            <tbody>
                {% for object in object_list  %}   
                <tr>
                {% if object.cliente %}
                    <td class="maiusculo" style="text-align:left">{{ object.cliente }}(CPF)</td>
                {% else %}
                    <td class="maiusculo" style="text-align:left">{{ object.cliente_cnpj }}(CNPJ)</td>
                {% endif %}
                    <td class="maiusculo" style="text-align:center">{{ object.n_contrato }}</td>
                    <td class="maiusculo" style="text-align:center">{{ object.valor_emprestado }}</td>
                    <td class="maiusculo" style="text-align:center">{{ object.qtd_parcelas }}x</td>  
                    <td class="maiusculo" style="text-align:center">{{ object.data_emprestimo|date:"d/m/Y" }}</td>  
                    <td class="maiusculo" style="text-align:center"> 
                        <a href="{{ object.get_absolute_url}}" ><button class="btn btn-info">Gerenciar</button></a> 
                    </td>                     
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p class="alert alert-warning">Sem Emprestimos cadastrados</p>
    {% endif %}
</div>

{% endblock content %}