{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block js %}{% endblock js %}
<!--  -->
<!-- ESTUDO COMPLETO DE FORMSET -->
<!-- https://docs.djangoproject.com/en/3.0/topics/forms/formsets/ -->
<!--  -->
{% block content %}
    <style> 
        .table td, .table th {             
            padding-left: 10px;
            padding-top: 0px;  
            padding-bottom: 0px;  
            border-top: 1px solid #000000;            
            border-bottom: 1px solid #000000;            
            border-left: 1px solid #000000;            
            border-right: 1px solid #000000;
        }
    </style>

    {% if emprestimo %}
        <h3>Editar {{emprestimo.cliente}}</h3>
        <form action="{% url 'emprestimo:emprestimo_edit' emprestimo.pk %}" method="POST" novalidate>
    {% else %}  
        <h3>CADASTRAR UM EMPRÉSTIMO ESCTOP(JUROS COMPOSTO)</h3>
        <form action="{% url 'emprestimo:create_esctop' %}" method="POST" novalidate>
    {% endif %}

    {% csrf_token %}
    
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label for="">Cliente Esctop</label>
                {% render_field form.cliente_cnpj type="text" class="form-control" %}
            </div>
        </div>
        <div class="col-sm-6"> 
                <div class="form-group">
                    <label for="">{{form.valor_emprestado.label}}</label>
                    {% render_field form.valor_emprestado class="form-control" id="valor_emprestado" %}                       
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">                    
                <div class="form-group" >                
                    <label for="" class="required" >{{form.qtd_parcelas.label}} </label>                
                    {% render_field form.qtd_parcelas class="form-control" id="qtd_parcelas" %}
                </div>
            </div>

            {% if object.pk %} 
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="">{{form.dt_emprestimo.label}}</label>   
                        {% render_field form.dt_emprestimo class="form-control" id="dataselecionada" onblur="somar()"%}                    
                    </div>                  
                </div> 
            {% else %}    
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="">{{form.dt_emprestimo.label}}</label>   
                        {% render_field form.dt_emprestimo class="form-control" id="dataselecionada" type="date" %}                    
                    </div>                  
                </div> 
            {% endif %}  

            <div class="col-sm-4" > 
                <div class="form-group" id="res">
                    <label for="">{{form.valor_prestacao.label}}</label>
                    {% render_field form.valor_prestacao|append_attr:"readonly:readonly" class="form-control" id="prestacao" %}
                </div>  
            </div> 
        </div>
        <br>        
        <div class="card card-body">
            <h4>MODALIDADE DO EMPRÉSTIMO</h4>
            <div class="row">
                <div class="col-sm-2"> 
                    <div class="form-group"> 
                        <label for="" >Presencial</label>
                        {% render_field form.presencial class="form-control" %}
                        <label class="checkbox-inline"> {{form.presencial.label}} <input type="checkbox" value="presencial" id="presencial" name="presencial"></label>
                    </div>    
                </div>
                <div class="col-sm-2"> 
                    <div class="form-group"> 
                        <label for="" >Online</label>
                        {% render_field form.online class="form-control" %}
                        <label class="checkbox-inline"> {{form.online.label}} <input type="checkbox" value="online" id="online" name="online"></label>                    
                    </div>    
                </div>
            </div>
        </div>
        
        <!-- INPUTS OCULTAS  -->
        <div class="col-sm-3" style="display: none;"> 
            <div class="form-group">
                <label for="">{{form.valor_multa.label}}</label>
                {% render_field form.valor_multa class="form-control" id="multa" %}
            </div>  
        </div> 
        <div class="col-sm-3" style="display: none;"> 
            <div class="form-group">
                <label for="">{{form.juros_ao_dia.label}}</label>
                {% render_field form.juros_ao_dia class="form-control" id="juros_ao_dia" %}
            </div>  
        </div> 
        <div class="col-sm-3" style="display: none;"> 
            <div class="form-group">
                <label for="">{{form.valor_mutuado.label}}</label>
                {% render_field form.valor_mutuado class="form-control" id="valor_mutuado" %}
            </div>  
        </div>  
        <div class="col-sm-3" style="display: none;"> 
            <div class="form-group">
                <label for="">{{form.juros_ao_mes.label}}</label>
                {% render_field form.juros_ao_mes class="form-control" id="juros_ao_mes" %}
            </div>  
        </div>  
        <div class="col-sm-3" style="display: none;"> 
            <div class="form-group">
                <label for="">{{form.juros_moratorio.label}}</label>
                {% render_field form.juros_moratorio class="form-control" id="juros_moratorio" %}
            </div>  
        </div> 
        <div class="col-sm-3" style="display: none;"> 
            <div class="form-group">
                <label for="">{{form.multa_por_atraso.label}}</label>
                {% render_field form.multa_por_atraso class="form-control" id="multa_por_atraso" %}
            </div>  
        </div>
        <div class="col-sm-3" style="display: none;"> 
            <div class="form-group">
                <label for="">{{form.iof_real.label}}</label>
                {% render_field form.iof_real class="form-control" id="iof_real" %}
            </div>  
        </div> 
        <div class="col-sm-3" style="display: none;"> 
            <div class="form-group">
                <label for="">{{form.valor_devido.label}}</label>
                {% render_field form.valor_devido class="form-control" id="valor_devido" %}
            </div>  
        </div> 
        <!-- ELEMENTOS OCULTOS -->
        <div class="col-sm-3" > 
            <div class="form-group">            
                {% render_field form.n_contrato class="form-control" id="n_contrato" type="hidden" %}                       
            </div>
        </div>
        
        
        {% if emprestimo %}   
            <button type="submit" class="btn btn-success" >Salvar Alterações</button>     
            <a href="{% url 'emprestimo:emprestimo_pagamento_add' emprestimo.pk %}" class="btn btn-primary">Realizar pagamento </a>
        {% else %}
            <a href="{% url 'emprestimo:emprestimo_list' %}" type="button" class="btn btn-danger pull-right m-1">Cancelar</a>        
            <button type="submit" class="btn btn-success pull-right m-1">Cadastrar</button>
            <button type="button" onclick="somar(), sequencial()" class="btn btn btn-primary m-1">Calcular Parcela</button>
            <button type="button" onclick="somar2(), sequencial()" class="btn btn btn-dark m-1">Calcular Parcela(com boleto)</button>
        </form>    
        {% endif %}
    <br>  
    <div class="row">
        <div class="col-sm-12">
            <h3>INFORMAÇÕES DO EMPRÉSTIMO</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <table class="table table-striped">                
                <tbody>
                    <tr >
                        <th class="text-left color" style="width:60%">{{form.valor_multa.label}}</th>                        
                        <th class="text-center color" style="width:10%">R$</th>
                        <th class="text-right color" id="multa_info" style="width:30%"></th>
                    </tr>
                    <tr>
                        <th class="text-left" style="width:60%">{{form.juros_ao_dia.label}}</th>  
                        <th class="text-center" style="width:10%">R$</th>
                        <th class="text-right" id="juros_ao_dia_info" style="width:30%"></th>
                    </tr>
                    <tr>
                        <th class="text-left color" style="width:60%">{{form.valor_mutuado.label}}</th> 
                        <th class="text-center color" style="width:10%">R$</th>
                        <th class="text-right color" id="valor_mutuado_info" style="width:30%"></th>
                    </tr>  
                    <tr>
                        <th class="text-left " style="width:60%">{{form.valor_devido.label}}</th> 
                        <th class="text-center " style="width:10%">R$</th>
                        <th class="text-right " id="valor_devido_info" style="width:30%"></th>
                    </tr>                    
                </tbody>
            </table>
        </div>
        <div class="col-sm-6">
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <th class="text-left color" style="width:60%">Taxa de Juros a.m</th>
                        <th class="text-center color" style="width:10%" style="width:30%">%</th>
                        <th class="text-right color" id="juros_ao_mes_info"></th>
                    </tr>   
                    <tr>
                        <th class="text-left" style="width:60%">IOF real</th>
                        <th class="text-center" style="width:10%" style="width:30%">%</th>
                        <th class="text-right" id="iof_real_info"></th>
                    </tr>  
                    <tr>
                        <th class="text-left" style="width:60%">Juros Moratório</th>
                        <th class="text-center" style="width:10%" style="width:30%"></th>
                        <th class="text-right" id="juros_moratorio_info"></th>
                    </tr>  
                    <tr>
                        <th class="text-left color" style="width:60%">Multa por atraso</th>
                        <th class="text-center color" style="width:10%" style="width:30%"></th>
                        <th class="text-right color" id="multa_por_atraso_info"></th>
                    </tr>   
                </tbody>
            </table>
        </div>
    </div>

    
    <script>   
     
    function numberToReal(numero) {
        var numero = numero.toFixed(2).split('.');
        numero[0] = " " + numero[0].split(/(?=(?:...)*$)/).join('.');
        return numero.join(',');
    }
    function numberToReal_3(numero) {
        var numero = numero.toFixed(3).split('.');
        numero[0] = " " + numero[0].split(/(?=(?:...)*$)/).join('.');
        return numero.join(',');
    }
    function numberToReal_4(numero) {
        var numero = numero.toFixed(4).split('.');
        numero[0] = " " + numero[0].split(/(?=(?:...)*$)/).join('.');
        return numero.join(',');
    }    


    Number.prototype.toFixedDown = function(digits){
		var re = new RegExp("(\\d+\\.\\d{" + digits + "})(\\d)"),
		m = this.toString().match(re);
		return m ? parseFloat(m[1]) : this.valueOf();
	};
    //VERIFICAR A FUNCIONALIDADE DESSE SCRIPT!!!!!!!!!!!!!!
    function toFixed(num, fixed) {
        var re = new RegExp('^-?\\d+(?:\.\\d{0,' + (fixed || -1) + '})?');
        return num.toString().match(re)[0];
    }
    
    //A FUNÇÃO ABAIXO CALCULA AS PARCELAS E TAXAS DO EMPRÉSTIMO
    function somar(){
        var tvalor_emprestado  = document.getElementById('valor_emprestado')
        var tqtd_parcelas      = document.getElementById('qtd_parcelas')
        var tprestacao         = document.getElementById('prestacao')
        var mes                = document.getElementById("dataselecionada").value.split("-")[1];  
        var valor_emprestado   = Number(tvalor_emprestado.value)                
        var qtd_parcelas       = Number(tqtd_parcelas.value)
        var prestacao          = Number(tprestacao.value)
        var mes_num            = Number(mes)
        var principal          = valor_emprestado/qtd_parcelas
        var iof_inicial        = 0
        var iof_diario         = 0.00137
        var qtd_dias           = 0
        var iof_adicional      = 0.0038
        var multa_por_atraso   = parseFloat(0.020)
        var valor_devido       = parseFloat(0)

        var primeiro           = document.getElementById('dataselecionada')
        
        if(primeiro == 1){
            primeiro = true
        }        

        //CALCULA O IOF_INICIAL (1º PASSO)
        for (var i = 0 ; i < qtd_parcelas; i++){
            if(mes_num == 1 || mes_num == 3 || mes_num == 5 || mes_num == 7 || mes_num == 8 || mes_num == 10 || mes_num == 12){
                qtd_dias += 31
            }else{
                qtd_dias +=30
            }
            mes_num+=1
            if(mes_num == 13){
                mes_num = 1
            }
            iof_inicial += (((principal) * (qtd_dias * 0.00137))/100 + (principal * 0.0038))
            console.log("primeiro passo", iof_inicial)
        }

        //CALCULA O IOF_REAL (2º PASSO)
        var iof_real = 0
        iof_real = (valor_emprestado*iof_inicial)/(valor_emprestado-iof_inicial)
        console.log("segundo passo", iof_real)
        var valor_mutuado = 0
        valor_mutuado = ((valor_emprestado + iof_real)*((1+0.083)**qtd_parcelas))
        console.log("terceiro passo", valor_mutuado/qtd_parcelas)

        //CALCULA O VALOR DA PARCELA(3º PASSO)
        var valor_emprestado      = Number(tvalor_emprestado.value)                
        var qtd_parcelas          = Number(tqtd_parcelas.value)
        var prestacao             = Number(tprestacao.value)    
        
        var valor_parcela         = 0
        var taxa_juros_a_m        = 9.5
        var juros_moratorio       = parseFloat(0.0066)
        

        valor_parcela = (valor_mutuado*(1+(qtd_parcelas*taxa_juros_a_m)/100))/qtd_parcelas
        //valor_parcela = valor_parcela.toFixedDown(2)
        valor_parcela = (valor_mutuado/qtd_parcelas).toFixed(2)
        console.log("(valor_mutuado/qtd_parcelas)",(valor_mutuado/qtd_parcelas))
        document.getElementById('prestacao').value = valor_parcela

        // CALCULA MULTA POR ATRASO 
        var valor_multa = parseFloat((valor_parcela*multa_por_atraso)).toFixedDown(2).toFixed(2)
        document.getElementById('multa').value = valor_multa       
        document.getElementById('multa_info').innerHTML = valor_multa.toString().replace(".", ",")
        

        // CALCULA JUROS AO DIA
        var juros_ao_dia = (valor_parcela*juros_moratorio).toFixedDown(2).toFixed(2)       	
        document.getElementById('juros_ao_dia').value = juros_ao_dia
        document.getElementById('juros_ao_dia_info').innerHTML = juros_ao_dia.toString().replace(".", ",")

        // LANÇA O VALOR MUTUADO
        valor_mutuado = valor_mutuado.toFixedDown(2)
        document.getElementById('valor_mutuado').value = valor_mutuado
        document.getElementById('valor_mutuado_info').innerHTML = numberToReal(valor_mutuado)

        // ******LEMBRAR DE OBSERVAR SE AS TAXAS SE ALTERAM AO INCLUIR .toFixedDown(2) OU RETIRAR*****

        // LANÇA TAXA DE JUROS AO MÊS                
        document.getElementById('juros_ao_mes').value = taxa_juros_a_m
        document.getElementById('juros_ao_mes_info').innerHTML = numberToReal(taxa_juros_a_m)

        // LANÇA TAXA DE JUROS MORATÓRIO          
        document.getElementById('juros_moratorio').value = juros_moratorio
        document.getElementById('juros_moratorio_info').innerHTML = numberToReal_4(juros_moratorio)

        // LANÇA TAXA DE JUROS POR ATRASO        
        document.getElementById('multa_por_atraso').value = multa_por_atraso
        document.getElementById('multa_por_atraso_info').innerHTML = numberToReal_3(multa_por_atraso)

        // LANÇA TAXA DE IOF TOTAL 
        iof_real = iof_real.toFixedDown(2) //verificar pq não salva sem .toFixedDown(2)        
        document.getElementById('iof_real').value = iof_real
        document.getElementById('iof_real_info').innerHTML = numberToReal(iof_real)

        // LANÇA VALOR DEVIDO 
        valor_devido = (valor_parcela*qtd_parcelas)
        valor_devido = valor_devido.toFixedDown(2) //verificar pq não salva sem .toFixedDown(2) 
        document.getElementById('valor_devido').value = valor_devido
        document.getElementById('valor_devido_info').innerHTML = numberToReal(valor_devido)
        
    }

    //A FUNÇÃO ABAIXO CALCULA AS PARCELAS E TAXAS DO EMPRÉSTIMO
    function somar2(){
        var tvalor_emprestado  = document.getElementById('valor_emprestado')
        var tqtd_parcelas      = document.getElementById('qtd_parcelas')
        var tprestacao         = document.getElementById('prestacao')
        var mes                = document.getElementById("dataselecionada").value.split("-")[1];
        var valor_emprestado   = Number(tvalor_emprestado.value)
        var qtd_parcelas       = Number(tqtd_parcelas.value)
        var prestacao          = Number(tprestacao.value)
        var mes_num            = Number(mes)        
        var principal          = valor_emprestado/qtd_parcelas
        var iof_inicial        = 0
        var iof_diario         = 0.00137       
        var qtd_dias           = 0
        var iof_adicional      = 0.0038   
        var multa_por_atraso   = parseFloat(0.020)
        var valor_devido       = parseFloat(0)

        var primeiro           = document.getElementById('dataselecionada')
        
        if(primeiro == 1){
            primeiro = true
        }        

        //CALCULA O IOF_INICIAL (1º PASSO)
        for (var i = 0 ; i < qtd_parcelas; i++){
            if(mes_num == 1 || mes_num == 3 || mes_num == 5 || mes_num == 7 || mes_num == 8 || mes_num == 10 || mes_num == 12){
                qtd_dias += 31
            }else{
                qtd_dias +=30
            }
            mes_num+=1
            if(mes_num == 13){
                mes_num = 1
            }
            iof_inicial += (((principal) * (qtd_dias * 0.00137))/100 + (principal * 0.0038))
            console.log("primeiro passo", iof_inicial)
        }

        //CALCULA O IOF_REAL (2º PASSO)
        var iof_real = 0
        iof_real = (valor_emprestado*iof_inicial)/(valor_emprestado-iof_inicial)
        console.log("segundo passo", iof_real)
        var valor_mutuado = 0
        valor_mutuado = ((valor_emprestado + iof_real)*((1+0.083)**qtd_parcelas))
        console.log("terceiro passo", valor_mutuado/qtd_parcelas)

        //CALCULA O VALOR DA PARCELA(3º PASSO)
        var valor_emprestado      = Number(tvalor_emprestado.value)                
        var qtd_parcelas          = Number(tqtd_parcelas.value)
        var prestacao             = Number(tprestacao.value)    
        
        var valor_parcela         = 0
        var taxa_juros_a_m        = 9.5
        var juros_moratorio       = parseFloat(0.0066)
        

        valor_parcela = (valor_mutuado*(1+(qtd_parcelas*taxa_juros_a_m)/100))/qtd_parcelas
        //valor_parcela = valor_parcela.toFixedDown(2)
        valor_parcela = ((valor_mutuado/qtd_parcelas)+10).toFixed(2)
        console.log("(valor_mutuado/qtd_parcelas)",(valor_mutuado/qtd_parcelas))
        document.getElementById('prestacao').value = valor_parcela

        // CALCULA MULTA POR ATRASO 
        var valor_multa = parseFloat((valor_parcela*multa_por_atraso)).toFixedDown(2).toFixed(2)
        document.getElementById('multa').value = valor_multa       
        document.getElementById('multa_info').innerHTML = valor_multa.toString().replace(".", ",")
        

        // CALCULA JUROS AO DIA
        var juros_ao_dia = (valor_parcela*juros_moratorio).toFixedDown(2).toFixed(2)       	
        document.getElementById('juros_ao_dia').value = juros_ao_dia
        document.getElementById('juros_ao_dia_info').innerHTML = juros_ao_dia.toString().replace(".", ",")

        // LANÇA O VALOR MUTUADO
        valor_mutuado = valor_mutuado.toFixedDown(2)
        document.getElementById('valor_mutuado').value = valor_mutuado
        document.getElementById('valor_mutuado_info').innerHTML = numberToReal(valor_mutuado)

        // ******LEMBRAR DE OBSERVAR SE AS TAXAS SE ALTERAM AO INCLUIR .toFixedDown(2) OU RETIRAR*****

        // LANÇA TAXA DE JUROS AO MÊS                
        document.getElementById('juros_ao_mes').value = taxa_juros_a_m
        document.getElementById('juros_ao_mes_info').innerHTML = numberToReal(taxa_juros_a_m)

        // LANÇA TAXA DE JUROS MORATÓRIO          
        document.getElementById('juros_moratorio').value = juros_moratorio
        document.getElementById('juros_moratorio_info').innerHTML = numberToReal_4(juros_moratorio)

        // LANÇA TAXA DE JUROS POR ATRASO        
        document.getElementById('multa_por_atraso').value = multa_por_atraso
        document.getElementById('multa_por_atraso_info').innerHTML = numberToReal_3(multa_por_atraso)

        // LANÇA TAXA DE IOF TOTAL 
        iof_real = iof_real.toFixedDown(2) //verificar pq não salva sem .toFixedDown(2)        
        document.getElementById('iof_real').value = iof_real
        document.getElementById('iof_real_info').innerHTML = numberToReal(iof_real)

        // LANÇA VALOR DEVIDO 
        valor_devido = (valor_parcela*qtd_parcelas)
        valor_devido = valor_devido.toFixedDown(2) //verificar pq não salva sem .toFixedDown(2) 
        document.getElementById('valor_devido').value = valor_devido
        document.getElementById('valor_devido_info').innerHTML = numberToReal(valor_devido)
        
    }

    //GERA UM NUMERO SEQUENCIAL BASEADO NA DATA E HORA ATUAL
    function sequencial(){
        var dt = new Date()      
        // var ano = String(dt.getYear())
        var ano       = document.getElementById("dataselecionada").value.split("-")[0];
        ano = String(ano)
        // RETORNA APENAS OS DOIS ULTIMOS DIGITOS DO ANO
        ano = (ano.substr(2, 3))
        var mes       = document.getElementById("dataselecionada").value.split("-")[1];
        var dia       = document.getElementById("dataselecionada").value.split("-")[2];   
        var hora      = String(dt.getHours())
        var minutos   = String(dt.getMinutes())        
        var sequencia = ano
        var sequencia = sequencia+mes       
        var sequencia = sequencia+dia    

        if(hora<10){
            sequencia += '0'
        } 
        var sequencia = sequencia+hora  

        if(minutos<10 && minutos>0){
            sequencia += '0'
        }
        var sequencia = sequencia+minutos  

        document.getElementById('n_contrato').value = sequencia
       
    }
       
</script>

<!-- <script>
    function tableshowhide(love, amor)

    len = menu.childElementCount
</script> -->
  
    
{% endblock content %}


    