{% extends 'base.html' %}

{% block content %}

<h2>Tem certeza que quer deletar: {{ object }}</h2>

<div class="row">   
    <div class="col">
        <form method="POST">
            {% csrf_token %}
            <input type="submit" class="btn btn-danger" value="Sim">
            {% if object.cliente_cnpj %}
                <a href="{% url 'emprestimo:emprestimo_cnpj_list' %}" class="btn btn-primary">Não</a>
            {% else %} 
                <a href="{% url 'emprestimo:emprestimo_list' %}" class="btn btn-primary">Não</a>
            {% endif %}
        </form>
    </div>
</div>
  
{% endblock content %}