{% extends "base.html" %}calcular
{% load static %}
{% load widget_tweaks %}
{% block js %}{% endblock js %}

{% block css %}
<style> 
    .table td, .table th {             
        padding-left: 10px;
        padding-top: 0px;  
        padding-bottom: 0px;  
        border-top: 1px solid #000000;            
        border-bottom: 1px solid #000000;            
        border-left: 1px solid #000000;            
        border-right: 1px solid #000000;
    }
</style>
{% endblock css %}

{% block content %}
    <div class="card card-body">
        <div class="card card-body">
        {% if emprestimo %}
        <h3>Editar {{emprestimo.cliente_cnpj}}</h3>
        <form action="{% url 'emprestimo:emprestimo_edit' emprestimo.pk %}" method="POST" novalidate>
        {% else %}  
        <h3>CADASTRAR UM EMPRÉSTIMO ESCTOP(JUROS COMPOSTO)</h3>
        <form action="{% url 'emprestimo:emprestimo_cnpj_add' %}" method="POST" novalidate>
        {% endif %}
        {% csrf_token %}        
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="">Cliente Esctop</label>
                        {% render_field form.cliente_cnpj type="text" class="form-control" %}
                    </div>
                </div>
                <div class="col-sm-6"> 
                    <div class="form-group">
                        <label for="">{{form.valor_emprestado.label}}</label>
                        {% render_field form.valor_emprestado class="form-control" id="valor_emprestado" value="0"%}
                    </div>
                </div>        
                <div class="col-sm-4">                    
                    <div class="form-group" >                
                        <label for="" class="required" >{{form.qtd_parcelas.label}} </label>                
                        {% render_field form.qtd_parcelas class="form-control" id="qtd_parcelas"%}
                    </div>
                </div>

                {% if object.pk %} 
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="">{{form.dt_emprestimo.label}}</label>   
                            {% render_field form.dt_emprestimo class="form-control" id="dataselecionada" onblur="somar()"%}                    
                        </div>                  
                    </div> 
                {% else %}    
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="">{{form.dt_emprestimo.label}}</label>   
                            {% render_field form.dt_emprestimo class="form-control" id="dataselecionada" type="date" %}                    
                        </div>                  
                    </div> 
                {% endif %}

                <div class="col-sm-4"> 
                    <div class="form-group" id="res">
                        <label for="">{{form.valor_prestacao.label}}</label>
                        {% render_field form.valor_prestacao|append_attr:"readonly:readonly" class="form-control" id="prestacao" %}
                    </div>  
                </div>
            </div>
        </div>
            
        <div class="card card-body mt-2">
            <h4>OPÇÕES DO EMPRÉSTIMO</h4>
            <div class="row">                
                <div class="col-sm-2"> 
                    <div class="form-group">
                        <label class="checkbox-inline"> {{form.online.label}} 
                            <input type="checkbox" value="online" id="online" name="online" onclick="checkUncheck()">
                        </label>
                    </div>    
                </div>    
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="" >Boleto</label>
                        {% render_field form.boleto class="form-control" %}
                        <label class="checkbox-inline"> {{form.boleto.label}} <input type="checkbox" value="boleto" id="boleto" name="boleto" onclick="somar()"></label>
                    </div>
                </div>
                <div class="col-sm-2 d-none">
                    <div class="form-group">
                        <label class="checkbox-inline"> {{form.presencial.label}}
                            <input type="checkbox" value="presencial" id="presencial" name="presencial" checked>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="card card-body mt-2 mb-5">
            <div class="row">
                <div class="col">
                    {% if emprestimo %}   
                        <button type="submit" class="btn btn-success" >Salvar Alterações</button>
                        <a href="{% url 'emprestimo:emprestimo_pagamento_add' emprestimo.pk %}" class="btn btn-primary">Realizar pagamento </a>
                    {% else %}
                        <a href="{% url 'emprestimo:emprestimo_list' %}" type="button" class="btn btn-danger pull-right m-1">Cancelar</a>        
                        <button type="submit" class="btn btn-success pull-right m-1" onclick="somar(), sequencial()">Cadastrar</button>
                        <button type="button" onclick="somar(), sequencial()" class="btn btn btn-primary m-1">Calcular Parcela</button>
                        {% endif %}
                    </div>
                </div>
        </div>

        <!-- ELEMENTOS OCULTOS -->
        {% render_field form.valor_multa class="form-control" id="multa" type="hidden" %}
        {% render_field form.juros_ao_dia class="form-control" id="juros_ao_dia" type="hidden" %}
        {% render_field form.valor_mutuado class="form-control" id="valor_mutuado" type="hidden" %}
        {% render_field form.juros_ao_mes class="form-control" id="juros_ao_mes" type="hidden" %}
        {% render_field form.juros_moratorio class="form-control" id="juros_moratorio" type="hidden" %}
        {% render_field form.multa_por_atraso class="form-control" id="multa_por_atraso" type="hidden" %}
        {% render_field form.iof_real class="form-control" id="iof_real" type="hidden" %}
        {% render_field form.valor_devido class="form-control" id="valor_devido" type="hidden" %}    
        {% render_field form.n_contrato class="form-control" id="n_contrato" type="hidden" %}
        {% render_field form.sequencia class="form-control" id="sequencia" type="hidden" %}
        <!-- ELEMENTOS OCULTOS -->
        </form>
    </div>
    
    <script>
    
    //VERIFICAR A FUNCIONALIDADE DESSE SCRIPT!!!!!!!!!!!!!!
    function toFixed(num, fixed) {
        var re = new RegExp('^-?\\d+(?:\.\\d{0,' + (fixed || -1) + '})?');
        return num.toString().match(re)[0];
    }

    truncateDecimals = function (number) {
        return Math[number < 0 ? 'ceil' : 'floor'](number);
    };
    
    //A FUNÇÃO ABAIXO CALCULA AS PARCELAS E TAXAS DO EMPRÉSTIMO
    function somar(){
        var tvalor_emprestado  = document.getElementById('valor_emprestado')
        var tqtd_parcelas      = document.getElementById('qtd_parcelas')
        var tprestacao         = document.getElementById('prestacao')
        var mes                = document.getElementById("dataselecionada").value.split("-")[1];
        var valor_emprestado   = Number(tvalor_emprestado.value)
        var qtd_parcelas       = Number(tqtd_parcelas.value)
        var prestacao          = Number(tprestacao.value)
        var mes_num            = Number(mes)
        var iof_diario         = 0.00137
        var iof_adicional      = 0.0038
        var multa_por_atraso   = parseFloat(0.020)
        var valor_devido       = parseFloat(0)
        var juros_moratorio    = parseFloat(0.0066)
        var parcela = 0.0
        var juros = 0.083
        var encargos = 0.0
        var encargos_maior_que_um = 0.0
        var principal = 0.0
        var encargos = new Array(qtd_parcelas).fill(0);
        var principal = new Array(qtd_parcelas).fill(0);
        var iof_fora_contrato = new Array(qtd_parcelas).fill(0);
        var somatorio_encargos_anteriores = 0.0
        var qtd_dias           = 0
        //var primeiro = document.getElementById('dataselecionada')
        var boleto    = document.getElementById("boleto").checked        

        //if(primeiro == 1){
        //    primeiro = true
        //}

        //-------------------CALCULA O IOF FORA DO CONTRATO--------------------- 

        //> parcela
        parcela = Math.round((valor_emprestado*(1+juros)**(qtd_parcelas)/qtd_parcelas)*100)/100
            console.log("parcela", parcela)

        //> encargos[i]
        encargos[0] = Math.round((valor_emprestado*juros)*100)/100
        
        for(let i=1; i<qtd_parcelas; i++){
            somatorio_encargos_anteriores += encargos[i-1]
            encargos[i] = Math.round(((valor_emprestado + somatorio_encargos_anteriores) * juros)*100)/100

            console.log("somatorio_encargos_anteriores", somatorio_encargos_anteriores) 
            console.log("encargos[i]", encargos[i], i)
        }

        //> principal[i]
        for(let i=0; i<qtd_parcelas; i++){
            principal[i] = Math.floor((parcela - encargos[i])*100)/100
            console.log("principal[i]", principal[i], i)
        }       

        //> iof_fora_contrato
        for (let i = 0 ; i < qtd_parcelas; i++){
            if(mes_num == 1 || mes_num == 3 || mes_num == 5 || mes_num == 7 || mes_num == 8 || mes_num == 10 || mes_num == 12){
                qtd_dias += 31
            }
            else if(mes_num == 2){
                qtd_dias += 28
            }
            else{
                qtd_dias +=30
            }
            mes_num+=1
            if(mes_num == 13){
                mes_num = 1
            }
            
            iof_fora_contrato[i] = Math.floor(((principal[i]*qtd_dias*iof_diario)/100)*100)/100 + Math.floor((principal[i]*iof_adicional)*100)/100
            console.log("iof_fora_contrato", iof_fora_contrato[i], i)
        }

        //> IOF_INICIAL
        var iof_inicial = iof_fora_contrato[0]+iof_fora_contrato[1]+iof_fora_contrato[2]
        console.log("iof_inicial", iof_inicial)

        //----------------CALCULA O IOF DENTRO DO VALOR DO CONTRATO ---------------->

        //> juros_acerto
        var juros_acerto = valor_emprestado*(juros/30)*((mes_num+1)-(mes_num+1))
        
        //> iof_final
        var iof_final = Math.round((valor_emprestado*iof_inicial)/(valor_emprestado-iof_inicial)*100)/100
        console.log("iof_final", iof_final)

        //> valor_contrato
        var valor_contrato = valor_emprestado+juros_acerto+iof_final
        console.log("valor_contrato", valor_contrato)

        //> valor_total_a_Prazo
        var valor_total_a_Prazo = Math.round((valor_contrato*(1+juros)**qtd_parcelas)*100)/100
        console.log("valor_total_a_Prazo", valor_total_a_Prazo)

        //> parcela_final
        if (boleto == true){
            var parcela_final = Math.round((valor_total_a_Prazo/qtd_parcelas+10)*100)/100           
        }else {
            var parcela_final = Math.round((valor_total_a_Prazo/qtd_parcelas)*100)/100            
        }
        //console.log("parcela_final", parcela_final)
        document.getElementById('prestacao').value = parcela_final        
        
        // CALCULA MULTA POR ATRASO 
        var valor_multa = parseFloat((parcela_final*multa_por_atraso)).toFixed(2)
        document.getElementById('multa').value = valor_multa        

        // CALCULA JUROS AO DIA
        var juros_ao_dia = (parcela_final*juros_moratorio).toFixed(2)       	
        document.getElementById('juros_ao_dia').value = juros_ao_dia
        
        // LANÇA O VALOR MUTUADO
        var valor_mutuado = valor_total_a_Prazo
        document.getElementById('valor_mutuado').value = valor_mutuado

        // LANÇA VALOR DEVIDO 
        valor_devido = valor_total_a_Prazo
        document.getElementById('valor_devido').value = valor_devido        

        // LANÇA TAXA DE JUROS AO MÊS
        var taxa_juros_a_m = juros*100 .toFixed(2)
        document.getElementById('juros_ao_mes').value = taxa_juros_a_m        
        
        // LANÇA TAXA DE JUROS MORATÓRIO 
        var juros_moratorio2 = juros_moratorio*100
        document.getElementById('juros_moratorio').value = juros_moratorio2

        // LANÇA TAXA DE JUROS POR ATRASO
        var multa_por_atraso2 = multa_por_atraso*100
        document.getElementById('multa_por_atraso').value = multa_por_atraso2

        // LANÇA TAXA DE IOF TOTAL 
        document.getElementById('iof_real').value = iof_final
    }

    //GERA UM NUMERO SEQUENCIAL BASEADO NA DATA E HORA ATUAL
    function sequencial(){
        var dt   = new Date()        
        var ano  = document.getElementById("dataselecionada").value.split("-")[0];
        ano      = String(ano)
        // RETORNA APENAS OS DOIS ULTIMOS DIGITOS DO ANO
        ano           = (ano.substr(2, 3))
        var mes       = document.getElementById("dataselecionada").value.split("-")[1];
        var dia       = document.getElementById("dataselecionada").value.split("-")[2];
        var online    = document.getElementById("online").checked
        
        var sequencia = ano
        var sequencia = sequencia+mes       
        var sequencia = sequencia+dia

        var teste = "{{sequencial}}"
        teste = Number(teste)+1
        teste = String(teste)    
        //console.log("Teste", teste)

        if (online == true) {
            var modalidade = 1
        }else {
            var modalidade = 0
        }
        
        var sequencia = modalidade+sequencia+teste
        document.getElementById('n_contrato').value = sequencia
        document.getElementById('sequencia').value = teste
        console.log("modalidade", modalidade)
        console.log("sequencia", sequencia)
    }

    // função para marcar online quando presencial não está marcado
    function checkUncheck(){
        if ($('#online').is(':checked') == true) {
            $('#presencial').prop('checked', false);
        }
        if($('#online').is(':checked') == false) {
            $('#presencial').prop('checked', true);
        }
    }
    
</script>

{% endblock content %}
