{% extends "baseDeImpressoes.html" %}
{% load  static %}
{% block js %}{% endblock js %}
{% block content %}
       
    <div class="document">
        <div id = "contrato" >
           
        </div>
    </div>      

<script>
    window.onload = function imprimir(){        
       
        //VARIÁVEIS DA DATA DO EMPRESTIMO
        var contador_meses = 0
        var contador_anos  = 0
        var meses = new Array("01", "02", "03", "04", "05", "06" ,"07", "08", "09", "10", "11", "12")
        var dataEmprestimo = "{{ object.dt_emprestimo}}"
        var dt = new Date(dataEmprestimo)
               
        var dia
        var mes
        var ano
        var aux_dia = {{object.dt_emprestimo.day}}
        var aux_mes = {{object.dt_emprestimo.month}}
        var aux_ano = {{object.dt_emprestimo.year}}
    
        var trinta_e_um = 0
        
        dia  = aux_dia
        mes  = aux_mes+contador_meses
        ano  = aux_ano
    
        //CONVERTE A QUANTIDADE DE PARCELAS PARA EXTENSO  
        var qtd_parcelas       = Number({{object.qtd_parcelas}}) 
        var qtd_parcelas = parseInt("{{object.qtd_parcelas}}")
        qtd_parcelas_extenso = String(qtd_parcelas).extenso()
        
        //VARIÁVEIS DO CLIENTE CPF           
        var naturalidade    = "{{object.cliente.naturalidade}}"  
        
        //CORREÇÃO DO VALOR TOTAL POR EXTENSO
        var valorTotal = parseFloat("{{object.valor_devido|floatformat:2}}".replace(',', '.'))      
    
        //VALOR TOTAL PARA SER FRACIONADO
        var fracionadoValorTotal = 0 
    
        //RECEBE O VALOR TOTAL COM DUAS CASAS DECIMAIS
        fracionadoValorTotal = parseFloat(valorTotal).toFixed(2)
        
        fracionadoValorTotalInteiro = parseInt(valorTotal)
        fracionadoValorTotal = fracionadoValorTotal.replace('.', ',')
        var real = parseInt(valorTotal)	
        real = String(real).extenso()    
    
        //SUBTRAI A PARTE DECIMAL PARA  AVARIÁVEL CENTAVOS
        var centavos = parseFloat((valorTotal-fracionadoValorTotalInteiro)).toFixed(2)	
        centavos = String(centavos).extenso()    
        
        
        contrato.innerHTML +=
        `
        <p class="paginacao1" >
            1/2 
        </p>
        <p class="paginacao2" >
            2/2 
        </p>  

        <h2> CONTRATO DE MÚTUO</h2>
        
        <p class="fontmenor" >
            Pelo presente contrato particular de empréstimo de dinheiro,de um lado, 
            Josimério de Abreu Silva, (Brasileiro, Solteiro, RG 1.791.746 SSP RN, CPF 029.388.274-66), 
            de ora em diante denominado simplesmente por CREDOR, e, de outro lado, 
            ${"{{object.cliente.nome}}"} (
            ${"{{object.cliente.nacionalidade}}"}, 
            ${"{{object.cliente.estado_civil}}"}, RG ${"{{object.cliente.rg}}"}${"{{object.cliente.orgao_expedidor}}"}, CPF 
            ${"{{object.cliente.cpf}}" }, 
            ${"{{object.cliente.rua}}"}, 
            ${"{{object.cliente.numero_casa}}"}, 
            ${"{{object.cliente.bairro}}"}, 
            ${"{{object.cliente.cidade}}"} ${"{{object.cliente.uf}}"}) de ora em diante denominado simplesmente
            DEVEDOR, têm justo e contratado o seguinte:
        </p>
    
        `
    
        if( !"{{object.cliente.fiador.nome}}" ){ 
            contrato.innerHTML +=
            `
            <p class="fontmenor">
                <b>CLÁUSULA 1ª</b>  - O <b>DEVEDOR</b> se compromete a pagar ao <b>CREDOR</b> 
                a título de empréstimo, a quantia acertada de R$ 
                ${"{{object.valor_devido}}"} (
                ${real} reais e ${centavos} centavos), 
                dividida em ${"{{object.qtd_parcelas}}"}(${qtd_parcelas_extenso}) parcela(s) de iguais valores, 
                já acrescidos de juros remuneratórios, nos moldes da legislação em vigor (Dec. 22.626/33 c/c art. 591 CC/02), 
                pagas conforme boleto bancário, ou outro meio disponibilizado e pactuado, mediante as condições seguintes.
            </p>
            `
        }
        
        if( "{{object.cliente.fiador.nome}}" ){ 
            contrato.innerHTML +=
            `
            <p class="fontmenor">
                <b>CLÁUSULA 1ª</b>  - O <b>DEVEDOR</b> e seu(s) fiador(es) se comprometem a pagar ao <b>CREDOR</b> 
                a título de empréstimo, a quantia acertada de R$ 
                ${"{{object.valor_devido}}"} (
                ${real} reais e 
                ${centavos} centavos), dividida em ${"{{object.qtd_parcelas}}"}(${qtd_parcelas_extenso}) parcela(s) de iguais valores, já acrescidos de juros remuneratórios, 
                nos moldes da legislação em vigor (Dec. 22.626/33 c/c art. 591 CC/02), pagas conforme boleto bancário, 
                ou outro meio disponibilizado e pactuado, mediante as condições seguintes.
            </p>
            `
        }
    
        contrato.innerHTML +=
        `
        <p class="fontmenor" >
            <b>CLÁUSULA 2ª</b> - Que a quantia acima emprestada, parcelada, deverá ser adimplida ao <b>CREDOR</b> no dia de acordo 
            conforme tabela abaixo:
        </p>
        `  
        
        contrato.innerHTML +=
        `
        <table cellspacing="0" cellpadding="0" border="1" >       
            <tr>
                <td width="33%">
                    <b>PARCELAS</b>
                </td>
                <td width="33%">
                    <b>VENCIMENTO</b>
                </td>
                <td width="39%">
                    <b>VALOR</b>
                </td>						
            </tr>
        </table >
        `
    
        for(var i=0; i<{{object.qtd_parcelas}}; i++){   
            mes++
    
            if(dia == 31){
                trinta_e_um = 31
            }
    
            //AJUSTA A DATA QUANDO O MES É FEVEREIRO 
            if(dia == 1 && mes == 4){
                dia = 30 
                mes = 3
            }
            if(dia == 30 && mes == 2){
                dia = 1 
                mes = 3
            }
            if(dia == 31 && mes == 2){
                dia = 1 
                mes = 3
            }
    
            // AJUSTE DE DIAS QUANDO A DATA INICIAL É DIA 31
            if(mes == 11 && trinta_e_um == 31){
                dia--
            }
            if(dia == 30 && mes == 12 && trinta_e_um == 31){
                dia++
            }
            if(dia == 30 && mes == 3 && trinta_e_um == 31){
                dia++
            }
            if(mes == 4 && trinta_e_um == 31){
                dia--
            }
            if(mes == 5 && trinta_e_um == 31){
                dia++
            }
            if(mes == 6 && trinta_e_um == 31){
                dia--
            }
            if(mes == 7 && trinta_e_um == 31){
                dia++
            }
            if(mes == 9 && trinta_e_um == 31){
                dia--
            }
            if(mes == 10 && trinta_e_um == 31){
                dia++
            }
            
            
            //AJUSTA MESES E ANOS 
            if(mes == 13){
                contador_meses = 0
                aux_mes = 1
                mes = 1	
                aux_ano++
                ano++				
            }
            
            contrato.innerHTML +=
            `
                <table cellspacing="0" cellpadding="0" border="1" >       
                    <tr >
                        <td width="33%">
                            ${i+1}/${"{{ object.qtd_parcelas}}"}
                        </td>
                        <td width="33%">
                            ${dia}/${meses[mes-1]}/${ano}
                        </td>
                        <td width="39%">
                            R$ ${"{{ object.valor_prestacao}}"} 
                        </td>
                    </tr>
                </table>
            `
        }
    
        contrato.innerHTML +=
        `
        <p class="fontmenor" >
            <b>CLÁUSULA 3ª</b> - Na falta do pagamento do empréstimo na data aprazada, o <b>DEVEDOR</b> pagará uma multa no percentual de 
            2% mais juros moratório sobre o débito no percentual de 0.66%, por dia, acrescido de correção monetária sobre o montante 
            apurado, ficando o <b>CREDOR</b> com direito de tomar as medidas judiciais cabíveis, inclusive a penhora judicial e conseguinte 
            notificação e negativação nos órgãos de proteção creditícios SPC, SERASA, SCPC e afins, conforme art. 43 do estatuto 
            consumerista.
        </p>  
        `    
        if( "{{object.cliente.fiador.nome}}" ){ 
            contrato.innerHTML +=
            `
            <p class="fontmenor" style="page-break-after:always">
                <b>CLÁUSULA 4ª</b> - O(s) <b>FIADOR(ES)</b> na qualidade de devedor(es) principal e solidário, também presente neste ato e 
                ao final qualificado e assinado, se compromete a honrar o presente contrato em seu inteiro teor, substituindo o <b>DEVEDOR</b>
                em todas as obrigações contratuais assumidas, inclusive o pagamento pontual do principal, bem como os demais ônus enxertados 
                neste contrato, quer decorrentes de acréscimos legais, quer de despesas judiciais se sujeitando aos ditames dos arts. 818 a 826, CC/02.
            </p>
           
            `
        }
    
        //AJUSTA A CLÁUSULAS 4º E 5º QUANDO É COM FIADOR OU NÃO
        if( "{{object.cliente.fiador.nome}}" ){
            var clausula1 = 5
            var clausula2 = 6
        }
        else{
            var clausula1 = 4
            var clausula2 = 5
        }
    
        contrato.innerHTML +=
        `
        <p class="fontmenor" >
            <b>CLÁUSULA ${clausula1}ª</b> - Todos os encargos que venham a recair durante o período de inadimplência do <b>DEVEDOR</b>, 
            como gastos judiciais e honorários, serão de inteira responsabilidade do <b>DEVEDOR</b>, devendo ser acrescidos na dívida 
            originalmente pactuada.
        </p>
        
        <p style="page-break-after:before"></p>
        <p class="fontmenor">
            <b>CLÁUSULA ${clausula2}ª </b>- Fica eleito o foro desta cidade de Natal/RN, para dirimir qualquer dúvida referente a este contrato.
        </p>
        <p class="fontmenor" >
            E assim, por estarem plenamente contratados na forma acima e em consonância com a legislação em vigor, assinam o presente 
            contrato em duas vias de igual teor, na presença de testemunhas que a tudo assistiram e conhecimento tiveram.
        </p>
        `
        if( !"{{object.cliente.fiador.nome}}" ){ 
            contrato.innerHTML +=
            `
            <p style="text-align:right">
                Natal-RN, ${dataEmprestimo}             
            </p>
            <br>
            <br>
            <p style="text-align:center">
                ________________________________________________________________________________<br>
                CREDOR
            </p>
            <p class="fontmenor"></p>
    
            <p style="text-align:center">
                ________________________________________________________________________________<br>
                DEVEDOR
            </p>
    
            `
        }
        if( "{{object.cliente.fiador.nome}}" ){ 
            contrato.innerHTML +=
            `
            <div class="container">
                <div class="row">
                    <div class="col-6 text-center">
                        _________________________________________
                    </div>
                    <div class="col-6 text-center">
                        _________________________________________
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 text-center">
                        CREDOR
                    </div>
                    <div class="col-6 text-center ">
                        DEVEDOR
                    </div>
                </div>
            </div>
            
            <p class="fontmenor maiusculo">
                <strong>FIADOR 1:</strong> - 
                ${"{{object.cliente.fiador.nome}}"}(
                ${"{{object.cliente.fiador.estado_civil}}"}, RG${"{{object.cliente.fiador.rg}}"}
                ${"{{object.cliente.fiador.orgao_expedidor}}"}, CPF 
                ${"{{object.cliente.fiador.cpf}}"},             
                ${"{{object.cliente.fiador.rua}}"}, 
                ${"{{object.cliente.fiador.numero_casa}}"}, 
                ${"{{object.cliente.fiador.bairro}}"}, 
                ${"{{object.cliente.fiador.cidade}}"} 
                ${"{{object.cliente.fiador.uf}}"}).
            </p>
            <p style="text-align:center">
                ______________________________________________________________________________<br>
                ASSINATURA DO FIADOR
            </p>
            </br>
            </br>
            <p style="text-align:right" class="datacao">
                Natal-RN, ${dataEmprestimo}              
            </p>
    
            `
        }   
    }
</script>

{% endblock content %}


