{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
    <style> 
        .table td, .table th {             
            padding-left: 10px;
            padding-top: 0px;  
            padding-bottom: 0px;  
            border-top: 1px solid #000000;            
            border-bottom: 1px solid #000000;            
            border-left: 1px solid #000000;            
            border-right: 1px solid #000000;
        }
    </style>

    {% if emprestimo %}
        <h3>Editar {{emprestimo.cliente}}</h3>
        <form action="{% url 'emprestimo:emprestimo_edit' emprestimo.pk %}" method="POST" novalidate>
    {% else %}  
        <h3>CADASTRAR UM EMPRÉSTIMO ESCTOP(NOVA ALÍQUOTA TESTE)</h3>
        <form action="{% url 'emprestimo:emprestimo_cnpj_add' %}" method="POST" novalidate>
    {% endif %}

    {% csrf_token %}
    
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label for="">Cliente Esctop</label>
                {% render_field form.cliente_cnpj type="text" class="form-control" %}
            </div>
        </div>
        <div class="col-sm-6"> 
                <div class="form-group">
                    <label for="">{{form.valor_emprestado.label}}</label>
                    {% render_field form.valor_emprestado class="form-control"%}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">                    
                <div class="form-group" >                
                    <label for="" class="required" >{{form.qtd_parcelas.label}} </label>                
                    {% render_field form.qtd_parcelas class="form-control" id="qtd_parcelas" %}
                </div>
            </div>

            {% if object.pk %} 
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="">{{form.dt_emprestimo.label}}</label>   
                        {% render_field form.dt_emprestimo class="form-control" id="dataselecionada" onblur="somar()"%}                    
                    </div>                  
                </div> 
            {% else %}    
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="">{{form.dt_emprestimo.label}}</label>   
                        {% render_field form.dt_emprestimo class="form-control" id="dataselecionada" type="date" %}                    
                    </div>                  
                </div> 
            {% endif %}  

            <div class="col-sm-4" > 
                <div class="form-group" id="res">
                    <label for="">{{form.valor_prestacao.label}}</label>
                    {% render_field form.valor_prestacao|append_attr:"readonly:readonly" class="form-control" id="prestacao" %}
                </div>  
            </div> 
            <!-- INPUTS OCULTAS  -->
            <div class="col-sm-3" style="display: none;"> 
                <div class="form-group">
                    <label for="">{{form.valor_multa.label}}</label>
                    {% render_field form.valor_multa class="form-control" id="multa" %}
                </div>  
            </div> 
            <div class="col-sm-3" style="display: none;"> 
                <div class="form-group">
                    <label for="">{{form.juros_ao_dia.label}}</label>
                    {% render_field form.juros_ao_dia class="form-control" id="juros_ao_dia" %}
                </div>  
            </div> 
            <div class="col-sm-3" style="display: none;"> 
                <div class="form-group">
                    <label for="">{{form.valor_mutuado.label}}</label>
                    {% render_field form.valor_mutuado class="form-control" id="valor_mutuado" %}
                </div>  
            </div>  
            <div class="col-sm-3" style="display: none;"> 
                <div class="form-group">
                    <label for="">{{form.juros_ao_mes.label}}</label>
                    {% render_field form.juros_ao_mes class="form-control" id="juros_ao_mes" %}
                </div>  
            </div>  
            <div class="col-sm-3" style="display: none;"> 
                <div class="form-group">
                    <label for="">{{form.juros_moratorio.label}}</label>
                    {% render_field form.juros_moratorio class="form-control" id="juros_moratorio" %}
                </div>  
            </div> 
            <div class="col-sm-3" style="display: none;"> 
                <div class="form-group">
                    <label for="">{{form.multa_por_atraso.label}}</label>
                    {% render_field form.multa_por_atraso class="form-control" id="multa_por_atraso" %}
                </div>  
            </div>
            <div class="col-sm-3" style="display: none;"> 
                <div class="form-group">
                    <label for="">{{form.iof_real.label}}</label>
                    {% render_field form.iof_real class="form-control" id="iof_real" %}
                </div>  
            </div> 
            <div class="col-sm-3" style="display: none;"> 
                <div class="form-group">
                    <label for="">{{form.valor_devido.label}}</label>
                    {% render_field form.valor_devido class="form-control" id="valor_devido" %}
                </div>  
            </div> 
            <!-- ELEMENTOS OCULTOS -->
            <div class="col-sm-3" > 
                <div class="form-group">            
                    {% render_field form.n_contrato class="form-control" id="n_contrato" type="hidden" %}                       
                </div>
            </div>
        </div>
        
        {% if emprestimo %}   
            <button type="submit" class="btn btn-success" >Salvar Alterações</button>     
            <a href="{% url 'emprestimo:emprestimo_pagamento_add' emprestimo.pk %}" class="btn btn-primary">Realizar pagamento </a>
        {% else %}
            <a href="{% url 'emprestimo:emprestimo_list' %}" type="button" class="btn btn-danger pull-right m-1">Cancelar</a>        
            <button type="submit" class="btn btn-success pull-right m-1">Cadastrar</button>
            <button type="button" onclick="calcularEmprestimo(), sequencial()" class="btn btn btn-primary m-1">Calcular Parcela</button>
            <button type="button" onclick="calcularEmprestimo(), sequencial()" class="btn btn btn-dark m-1">Calcular Parcela(com boleto)</button>
        </form>    
        {% endif %}


{% endblock content %}
{% block js %}
    <script src="{% static 'js/testesjs.js' %}"></script>
{% endblock js %}


    