{% extends "base.html" %}
{% block content %}

<style>
    .table td, .table th {      
        font-size: 13px;       
        padding-left: 10px;
        padding-top: 0px;  
        padding-bottom: 0px;          
    }  
    hr {
        -moz-border-bottom-colors: none;
        -moz-border-image: none;
        -moz-border-left-colors: none;
        -moz-border-right-colors: none;
        -moz-border-top-colors: none;
        border-color: #EEEEEE -moz-use-text-color #FFFFFF;
        border-style: solid none;
        border-width: 1px 0;
        margin: 18px 0;
    }
</style>

<!-- BOTÕES -->
<div class="row">
    <div class="col-sm-12">
        <span class="pull-right no-print">
            <a href="{% url 'cliente_cnpj:esctop_cliente_list' %}" type="button" class="btn btn-secondary no-print">Voltar</a>
            <a href="{% url 'cliente_cnpj:cliente_cnpjupdate' object.pk %}" type="button" class="btn btn-info no-print">Editar</a>
            <a href="{% url 'cliente_cnpj:esctop_update' object.pk %}" type="button" class="btn btn-info no-print">
                Editar
            </a>
            <a href="" type="button" onclick="window.print()" class="btn btn-warning no-print">Imprimir</a>    
        </span>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 a">
        <h1>{{ object.razao_social }}</h1>
    </div>
</div>
<br>
<br>
<!-- BOTÕES -->

<div class="row">
    <div class="col-sm-6">
        <div class="row">
            <div class="col-sm-12 a">
                <table class="table table-striped">    
                    <h5>dados da empresa</h5>
                    <tbody>        
                        {% if object.razao_social %}           
                            <tr>
                                <th class="text-right" style="width:30%">razão social</th> 
                                <th class="text-left" style="width:70%">{{ object.razao_social }}</th>
                            </tr> 
                        {% endif %}        
                        {% if object.nome_fantasia %}           
                            <tr>
                                <th class="text-right" style="width:30%">nome fantasia</th> 
                                <th class="text-left" style="width:70%">{{ object.nome_fantasia }}</th>
                            </tr> 
                        {% endif %}
                        {% if object.cnpj %}           
                            <tr>
                                <th class="text-right" style="width:30%">cnpj</th> 
                                <th class="text-left" style="width:70%">{{ object.cnpj }}</th>
                            </tr> 
                        {% endif %}
                        {% if object.fundacao %}           
                            <tr>
                                <th class="text-right" style="width:30%">fundação</th> 
                                <th class="text-left" style="width:70%">{{ object.fundacao }}</th>
                            </tr> 
                        {% endif %}
                        {% if object.inscricao_estadual %}           
                            <tr>
                                <th class="text-right" style="width:30%">inscrição estadual</th> 
                                <th class="text-left" style="width:70%">{{ object.inscricao_estadual }}</th>
                            </tr> 
                        {% endif %}
                        {% if object.inscricao_municipal %}           
                            <tr>
                                <th class="text-right" style="width:30%">inscrição municipal</th> 
                                <th class="text-left" style="width:70%">{{ object.inscricao_municipal }}</th>
                            </tr> 
                        {% endif %}
                    </tbody>
                </table>
            </div>  
            <div class="col-sm-12 a">
                <table class="table table-striped">
                    <h5>endereço</h5>
                    <tbody>                    
                        {% if object.cep %}           
                            <tr>
                                <th class="text-right" style="width:30%">cep</th> 
                                <th class="text-left" style="width:70%" class="form-control cep-mask">{{ object.cep }}</th>
                            </tr> 
                        {% endif %}
                        {% if object.rua %}           
                            <tr>
                                <th class="text-right" style="width:30%">rua</th> 
                                <th class="text-left" style="width:70%">{{ object.rua }}</th>
                            </tr> 
                        {% endif %}
                        {% if object.bairro %}           
                            <tr>
                                <th class="text-right" style="width:30%">bairro</th> 
                                <th class="text-left" style="width:70%">{{ object.bairro }}</th>
                            </tr> 
                        {% endif %}
                        {% if object.cidade %}           
                            <tr>
                                <th class="text-right" style="width:30%">cidade</th> 
                                <th class="text-left" style="width:70%">{{ object.cidade }}</th>
                            </tr> 
                        {% endif %}
                        {% if object.uf %}           
                            <tr>
                                <th class="text-right" style="width:30%">estado</th> 
                                <th class="text-left" style="width:70%">{{ object.uf }}</th>
                            </tr> 
                        {% endif %}
                        {% if object.numero_casa %}           
                            <tr>
                                <th class="text-right" style="width:30%">nº</th> 
                                <th class="text-left" style="width:70%">{{ object.numero_casa }}</th>
                            </tr> 
                        {% endif %}
                        {% if object.ponto_referencia %}           
                            <tr>
                                <th class="text-right" style="width:30%">PONTO DE REFERÊNCIA</th> 
                                <th class="text-left" style="width:70%">{{ object.ponto_referencia }}</th>
                            </tr> 
                        {% endif %}
                        {% if object.complemento %}           
                            <tr>
                                <th class="text-right" style="width:30%">complemento</th> 
                                <th class="text-left" style="width:70%">{{ object.complemento }}</th>
                            </tr> 
                        {% endif %}                       
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="row">
            <div class="col-sm-12 a">                    
                <table class="table table-striped">
                    <h5>CONTATO</h5>
                    <tbody>
                        {% if object.contato1 %}           
                            <tr>
                                <th class="text-right" style="width:30%">contato 1</th> 
                                <th class="text-left" style="width:70%">{{ object.contato1 }}</th>
                            </tr> 
                        {% endif %}
                        {% if object.contato2 %}           
                            <tr>
                                <th class="text-right" style="width:30%">contato 2</th> 
                                <th class="text-left" style="width:70%">{{ object.contato2 }}</th>
                            </tr> 
                        {% endif %}
                        {% if object.celular1 %}           
                            <tr>
                                <th class="text-right" style="width:30%">celular 1</th> 
                                <th class="text-left" style="width:70%">{{ object.celular1 }}</th>
                            </tr> 
                        {% endif %}
                        {% if object.celular2 %}           
                            <tr>
                                <th class="text-right" style="width:30%">celular 2</th> 
                                <th class="text-left" style="width:70%">{{ object.celular2 }}</th>
                            </tr> 
                        {% endif %}
                        {% if object.email %}           
                            <tr>
                                <th class="text-right" style="width:30%">e-mail</th> 
                                <th class="text-left lower_all" style="width:70%">{{ object.email }}</th>
                            </tr> 
                        {% endif %}                                          
                    </tbody>
                </table>
            </div>
            <div class="col-sm-12 a">
                <table class="table table-striped">
                    <h5>DADOS BANCÁRIOS</h5>
                    <tbody>
                        {% if object.banco %}
                            <tr>
                                <th class="text-right" style="width:30%">Banco</th> 
                                <th class="text-left" style="width:70%">{{ object.banco }}</th>
                            </tr>
                        {% endif %}
                        {% if object.n_operacao %}
                            <tr>
                                <th class="text-right" style="width:30%">Nº da Operação</th> 
                                <th class="text-left" style="width:70%">{{ object.n_operacao }}</th>
                            </tr>
                        {% endif %}
                        {% if object.tipo_de_conta %}
                            <tr>
                                <th class="text-right" style="width:30%">Tipo de Conta</th> 
                                <th class="text-left" style="width:70%">{{ object.tipo_de_conta }}</th>
                            </tr>
                        {% endif %}                
                        {% if object.agencia %}
                            <tr>
                                <th class="text-right" style="width:30%">Agência</th> 
                                <th class="text-left" style="width:70%">{{ object.agencia }}</th>
                            </tr>
                        {% endif %}
                        {% if object.conta %}
                            <tr>
                                <th class="text-right" style="width:30%">Conta</th> 
                                <th class="text-left" style="width:70%">{{ object.conta }}</th>
                            </tr>
                        {% endif %}
                        {% if object.tipo_de_chave_pix %}
                            <tr>
                                <th class="text-right" style="width:30%">PIX</th> 
                                <th class="text-left" style="width:70%">{{ object.tipo_de_chave_pix }} | {{ object.chave_pix }}</th>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>                    
            </div>   
            <div class="col-sm-12 a">
                <table class="table table-striped">                   
                    {% if object.ref1_nome %}
                    <h5>REFERÊNCIAS PESSOAIS</h5>
                    <tbody>                            
                            <tr>
                                <th class="text-right" style="border-top: 1px solid #000000;">Nome</th> 
                                <th class="text-left" style="border-top: 1px solid #000000;">{{ object.ref1_nome }}</th>
                            </tr>                                
                        {% endif %}
                        {% if object.ref1_contato %}
                            <tr>
                                <th class="text-right" style="width:30%">Contato</th> 
                                <th class="text-left" style="width:70%">{{ object.ref1_contato }}</th>
                            </tr>
                        {% endif %}
                        {% if object.ref1_parentesco %}
                            <tr>
                                <th class="text-right" style="width:30%" style="border-top: 1px solid #000000;">Parentesco</th> 
                                <th class="text-left" style="width:70%">{{ object.ref1_parentesco }}</th>
                            </tr>                            
                        {% endif %}
                        {% if object.ref2_nome %}
                            <tr>
                                <th class="text-right" style="border-top: 1px solid #000000;">Nome</th> 
                                <th class="text-left" style="border-top: 1px solid #000000;">{{ object.ref2_nome }}</th>
                            </tr>
                        {% endif %}
                        {% if object.ref2_contato %}
                            <tr>
                                <th class="text-right" style="width:30%">Contato</th> 
                                <th class="text-left" style="width:70%">{{ object.ref2_contato }}</th>
                            </tr>
                        {% endif %}
                        {% if object.ref2_parentesco %}
                            <tr>
                                <th class="text-right" style="border-bottom: 1px solid #000000;">Parentesco</th> 
                                <th class="text-left" style="border-bottom: 1px solid #000000;">{{ object.ref2_parentesco }}</th>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<hr>

<div class="row">
    <div class="col-sm-6">
        <div class="row">
            <div class="col-sm-12 a">
            <h5>representante</h5>  
                <table class="table table-striped">    
                    {% if object.rep_nome %}
                        <tr>
                            <th class="text-right" style="width:30%">nome</th> 
                            <th class="text-left" style="width:70%">{{ object.rep_nome }}</th>
                        </tr>
                    {% endif %}
                    {% if object.rep_cpf %}
                        <tr>
                            <th class="text-right" style="width:30%">cpf</th> 
                            <th class="text-left" style="width:70%">{{ object.rep_cpf }}</th>
                        </tr>
                    {% endif %}
                    {% if object.rep_rg %}
                        <tr>
                            <th class="text-right" style="width:30%">rg</th> 
                            <th class="text-left" style="width:70%">{{ object.rep_rg }}</th>
                        </tr>
                    {% endif %}
                    {% if object.rep_orgao_emissor %}
                        <tr>
                            <th class="text-right" style="width:30%">ORGÃO EMISSOR</th> 
                            <th class="text-left" style="width:70%">{{ object.rep_orgao_emissor }}</th>
                        </tr>
                    {% endif %}
                    {% if object.rep_data_nasc %}
                        <tr>
                            <th class="text-right" style="width:30%">DATA DE NASCIMENTO</th> 
                            <th class="text-left" style="width:70%">{{ object.rep_data_nasc }}</th>
                        </tr>
                    {% endif %}
                    {% if object.rep_naturalidade %}
                        <tr>
                            <th class="text-right" style="width:30%">naturalidade</th> 
                            <th class="text-left" style="width:70%">{{ object.rep_naturalidade }}</th>
                        </tr>
                    {% endif %}
                    {% if object.rep_nacionalidade %}
                        <tr>
                            <th class="text-right" style="width:30%">nacionalidade</th> 
                            <th class="text-left" style="width:70%">{{ object.rep_nacionalidade }}</th>
                        </tr>
                    {% endif %}
                    {% if object.rep_estado_civil %}
                        <tr>
                            <th class="text-right" style="width:30%">ESTADO CIVIL</th> 
                            <th class="text-left" style="width:70%">{{ object.rep_estado_civil }}</th>
                        </tr>
                    {% endif %}
                    {% if object.rep_conjuge_nome %}
                        <tr>
                            <th class="text-right" style="width:30%">CONJUGE</th> 
                            <th class="text-left" style="width:70%">{{ object.rep_conjuge_nome }}</th>
                        </tr>
                    {% endif %}
                    {% if object.rep_conjuge_cpf %}
                        <tr>
                            <th class="text-right" style="width:30%">CPF CONJUGE</th> 
                            <th class="text-left" style="width:70%">{{ object.rep_conjuge_cpf }}</th>
                        </tr>
                    {% endif %}
                    {% if object.rep_conjuge_telefone %}
                        <tr>
                            <th class="text-right" style="width:30%">TELEFONE CONJUGE</th> 
                            <th class="text-left" style="width:70%">{{ object.rep_conjuge_telefone }}</th>
                        </tr>
                    {% endif %}
                    {% if object.rep_contato1 %}
                        <tr>
                            <th class="text-right" style="width:30%">contato 1</th> 
                            <th class="text-left" style="width:70%">{{ object.rep_contato1 }}</th>
                        </tr>
                    {% endif %}
                    {% if object.rep_celular1 %}
                        <tr>
                            <th class="text-right" style="width:30%">celular 1</th> 
                            <th class="text-left" style="width:70%">{{ object.rep_celular1 }}</th>
                        </tr>
                    {% endif %}                   
                    {% if object.rep_celular2 %}
                        <tr>
                            <th class="text-right" style="width:30%">celular 2</th> 
                            <th class="text-left" style="width:70%">{{ object.rep_celular2 }}</th>
                        </tr>
                    {% endif %}
                    {% if object.rep_email %}
                        <tr>
                            <th class="text-right" style="width:30%">e-mail</th> 
                            <th class="text-left" style="width:70%">{{ object.rep_email }}</th>
                        </tr>
                    {% endif %}
                    {% if object.rep_cep %}
                        <tr>
                            <th class="text-right" style="width:30%">cep</th> 
                            <th class="text-left" style="width:70%">{{ object.rep_cep }}</th>
                        </tr>
                    {% endif %}
                    {% if object.rep_rua %}
                        <tr>
                            <th class="text-right" style="width:30%">rua</th> 
                            <th class="text-left" style="width:70%">{{ object.rep_rua }}</th>
                        </tr>
                    {% endif %}
                    {% if object.rep_bairro %}
                        <tr>
                            <th class="text-right" style="width:30%">bairro</th> 
                            <th class="text-left" style="width:70%">{{ object.rep_bairro }}</th>
                        </tr>
                    {% endif %}
                    {% if object.rep_cidade %}
                        <tr>
                            <th class="text-right" style="width:30%">cidade</th> 
                            <th class="text-left" style="width:70%">{{ object.rep_cidade }}</th>
                        </tr>
                    {% endif %}
                    {% if object.rep_uf %}
                        <tr>
                            <th class="text-right" style="width:30%">estado</th> 
                            <th class="text-left" style="width:70%">{{ object.rep_uf }}</th>
                        </tr>
                    {% endif %}
                    {% if object.rep_numero_casa %}
                        <tr>
                            <th class="text-right" style="width:30%">n°</th> 
                            <th class="text-left" style="width:70%">{{ object.rep_numero_casa }}</th>
                        </tr>
                    {% endif %}
                    {% if object.rep_ponto_referencia %}
                        <tr>
                            <th class="text-right" style="width:30%">PONTO DE REFERÊNCIA</th> 
                            <th class="text-left" style="width:70%">{{ object.rep_ponto_referencia }}</th>
                        </tr>
                    {% endif %}
                    <tbody> 
                </table>
            </div>
        </div>
    </div><div class="col-sm-6">
        <div class="row">
            <div class="col-sm-12 a">
            {% if object.fiador %}
            <h5>fiador</h5>  
                <table class="table table-striped">    
                        <tr>
                            <th class="text-right" style="width:30%">nome</th> 
                            <th class="text-left" style="width:70%">{{ object.fiador }}</th>
                        </tr>
                        <tr>
                            <th class="text-right" style="width:30%">cpf</th> 
                            <th class="text-left" style="width:70%">{{ object.fiador.fiador_cpf }}</th>
                        </tr>
                        <tr>
                            <th class="text-right" style="width:30%">E-MAIL</th> 
                            <th class="text-left" style="width:70%">{{ object.fiador.fiador_email }}</th>
                        </tr>
                    {% endif %}
                    
                    <tbody> 
                </table>
            </div>
        </div>
    </div>
</div>

<div class="pull-right">
    <h6> Data da Impressão</h6> 
    <output id="data" style="font-size: 12px;"></output></br>
    <output id="hora" style="font-size: 12px;"></output>				
</div>

<br>
<div class="pull-left">
    <a href="{% url 'cliente_cnpj:cliente_cnpj_delete' object.pk %}" type="button" class="btn btn-danger no-print">Deletar Cliente</a>
</div>

{% endblock content %}
