{% extends "base.html" %}
{% load widget_tweaks %}
{% load  static %}
{% block js %}{% endblock js %}
{% block content %}

<style>
    .nav-tabs {
        border: 1px solid #c1c5c1;
    }

    .row {
        z-index: 1;
    }

    .tab-pane {
        border: 1px solid #c1c5c1;
        padding: 15px;
        text-shadow: 1px 1px 1px #a79f9f;
    }

    a:link {
        /* links não visitados */
        color: black;
    }

    a:hover {
        color: #1c910c;
    }

    a:active {
        /* links ativos */
        color: #98e998;
    }

    .aTab {
        background-color: rgba(255, 255, 255, 0.809);
        color: black;
    }

    .nav-tabs .nav-item.show .nav-link,
    .nav-tabs .nav-link.active {
        /* background-image: linear-gradient(15deg, #67dc6f 0%, #1c910c 100%); */
        background-color: #b9edb5;
    }

    .pl-5,
    .px-5 {
        padding: 10px !important;
    }
</style>

<form method="POST">
    {% csrf_token %}    
    <div class="row fixed-top my-5" style="padding: 5px;border: none;">
        <div class="col">
            <div class="container " style="margin-top: 3px;">
                <ul class="nav nav-tabs bg-white px-5 py-2" id="myTab" role="tablist">
                    <li class="nav-item liTab" role="presentation">
                        <a class="nav-link aTab active" data-toggle="tab" href="#tab1" role="tab" aria-selected="true">
                            Empresa
                        </a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link aTab" data-toggle="tab" href="#tab2" role="tab" aria-selected="true">
                            Representante
                        </a>
                    </li>
    
                    {% if object.pk %}
                        <li class="nav-item ml-auto" role="presentation">
                            <label for="salvarCliente">
                                <a class="nav-link btn btn-success" role="tab" aria-selected="true" style="margin:0;">
                                    <span class="fa fa-save"></span>
                                    Salvar
                                </a>
                            </label>
                        </li>
                    {% else %}
                        <li class="nav-item ml-auto" role="presentation">
                            <label for="cadastrarCliente">
                                <a class="nav-link btn btn-success"  role="tab" aria-selected="true">
                                    <span class="fa fa-save"></span>
                                    Cadastrar
                                </a>
                            </label>
                        </li>
                    {% endif %}                        
                </ul>

            </div>
        </div>
    </div>

    <div class="tab-content  pt-5" id="myTabContent">
        <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="home-tab">
           <h3>DADOS DA EMPRESA (ESCTOP)</h3>
    <div class="row" > 
        <div class="col-sm-6">                    
            <div class="form-group" >                
                <label for="" class="required" >{{form.razao_social.label}} </label>        
                {% render_field form.razao_social class="form-control form-control-sm" %}
            </div>
        </div>    
        <div class="col-sm-6">                    
            <div class="form-group" >                
                <label for="" >{{form.nome_fantasia.label}} </label>        
                {% render_field form.nome_fantasia class="form-control form-control-sm" %}
            </div>
        </div>        
        <div class="col-sm-3">                    
            <div class="form-group" >                
                <label for="" class="required" >{{form.cnpj.label}} </label>        
                {% render_field form.cnpj class="form-control form-control-sm cnpj-mask" %}
                {% if form.cnpj.errors %}
                    <li style="color:red;">CNPJ inválido ou já existe.</li>
                {% endif %}
            </div>
        </div>  
        {% if cliente_cnpj %}
        <div class="col-sm-3">                    
            <div class="form-group" >                
                <label for="" class="required" >{{form.fundacao.label}} </label>        
                {% render_field form.fundacao class="form-control form-control-sm" %}
            </div>
        </div>  
        {% else %}
        <div class="col-sm-3">                    
            <div class="form-group" >                
                <label for="" class="required" >{{form.fundacao.label}} </label>        
                {% render_field form.fundacao class="form-control form-control-sm" type="date"%}
            </div>
        </div>  
        {% endif %}
        
        <div class="col-sm-3">                    
            <div class="form-group" >                
                <label for="" class="required" >{{form.inscricao_estadual.label}} </label>        
                {% render_field form.inscricao_estadual class="form-control form-control-sm insc-est-mask" %}
            </div>
        </div> 
        <div class="col-sm-3">                    
            <div class="form-group" >                
                <label for="" class="required" >{{form.inscricao_municipal.label}} </label>        
                {% render_field form.inscricao_municipal class="form-control form-control-sm" %}
            </div>
        </div>            
        <div class="col-sm-6">                    
            <div class="form-group" >                
                <label for="" class="required" >{{form.fiador.label}} </label>        
                {% render_field form.fiador class="form-control form-control-sm" %}
            </div>
        </div> 

    </div>  
    
    <h3>ENDEREÇO</h3>
    <div class="row">
        <div class="col-sm-2">                    
            <div class="form-group" >                
                <label for="cep" class="required">{{form.cep.label}} </label>        
                {% render_field form.cep class="form-control form-control-sm cep-mask" name="cep" type="text" id="cep" value="" size="10" maxlength="9" onblur="pesquisacep(this.value);"%}                            
            </div>
        </div>
        <div class="col-sm-4">                    
            <div class="form-group" >                
                <label for="" class="required">{{form.rua.label}} </label>        
                {% render_field form.rua class="form-control form-control-sm" name="rua" type="text" id="rua" size="60" %}
            </div>
        </div>
        <div class="col-sm-5">                    
            <div class="form-group" >                
                <label for="" class="required">{{form.bairro.label}} </label>        
                {% render_field form.bairro class="form-control form-control-sm" name="bairro" type="text" id="bairro" size="40" %}
            </div>
        </div>
        <div class="col-sm-1">                    
            <div class="form-group" >                
                <label for="" class="required">{{form.uf.label}} </label>        
                {% render_field form.uf class="form-control form-control-sm" name="uf" type="text" id="uf" size="2"%}
            </div>
        </div>            
        <div class="col-sm-3">                    
            <div class="form-group" >                
                <label for="" class="required">{{form.cidade.label}} </label>        
                {% render_field form.cidade class="form-control form-control-sm" name="cidade" type="text" id="cidade" size="40"%}
            </div>
        </div>
        <div class="col-sm-1">                    
            <div class="form-group" >                
                <label for="numero_casa" class="required">{{form.numero_casa.label}} </label>        
                {% render_field form.numero_casa class="form-control form-control-sm" name="numero_casa" type="text"%}
            </div>
        </div>
        <div class="col-sm-4">                    
            <div class="form-group" >                
                <label for="" >{{form.complemento.label}} </label>        
                {% render_field form.complemento class="form-control form-control-sm" %}
            </div>
        </div>   
        <div class="col-sm-4">                    
            <div class="form-group" >                
                <label for="" >{{form.ponto_referencia.label}} </label>        
                {% render_field form.ponto_referencia class="form-control form-control-sm" %}
            </div>
        </div>   
    </div>  
    
    <h3>CONTATO</h3>
    <div class="row"> 
        <div class="col-sm-2">                    
            <div class="form-group" >                
                <label for="" >{{form.contato1.label}} </label>        
                {% render_field form.contato1 class="form-control form-control-sm phone-mask"  type="text"%}
            </div>
        </div>
        <div class="col-sm-2">                    
            <div class="form-group" >                
                <label for="" >{{form.contato2.label}} </label>        
                {% render_field form.contato2 class="form-control form-control-sm phone-mask" type="text"%}
            </div>
        </div>
        <div class="col-sm-2">                    
            <div class="form-group" >                
                <label for="" >{{form.celular1.label}} </label>        
                {% render_field form.celular1 class="form-control form-control-sm cel-phone-mask" type="text"%}
                <label class="checkbox-inline"> {{form.whatsapp1.label}} <input type="checkbox" value="whatsapp1" id="whatsapp1" name="whatsapp1"></label>
            </div>
        </div>
        <div class="col-sm-2">                    
            <div class="form-group" >                
                <label for="" >{{form.celular2.label}} </label>        
                {% render_field form.celular2 class="form-control form-control-sm cel-phone-mask" type="text"%}
                <label class="checkbox-inline"> {{form.whatsapp2.label}} <input type="checkbox" value="whatsapp2" id="whatsapp2" name="whatsapp2"></label>
            </div>
        </div>   
        <div class="col-sm-4">                    
            <div class="form-group" >                
                <label for=""  >{{form.email.label}} </label>        
                {% render_field form.email class="form-control form-control-sm lower_all" %}
            </div>
        </div>          
    </div> 
    
    <h3>DADOS BANCÁRIOS</h3>
    <div class="row">
        <div class="col-sm-4">                    
            <div class="form-group" >                
                <label for="" >{{form.banco.label}} </label>        
                {% render_field form.banco class="form-control form-control-sm" %}
            </div>    
        </div> 
        <div class="col-sm-4">                    
            <div class="form-group" >                
                <label for="" >{{form.n_operacao.label}} </label>        
                {% render_field form.n_operacao class="form-control form-control-sm" %}
            </div>    
        </div>
        <div class="col-sm-4">                    
            <div class="form-group" >                
                <label for="" >{{form.tipo_de_conta.label}} </label>        
                {% render_field form.tipo_de_conta class="form-control form-control-sm" %}
            </div>    
        </div>             
        <div class="col-sm-2">                    
            <div class="form-group" >                
                <label for="" >{{form.agencia.label}} </label>        
                {% render_field form.agencia class="form-control form-control-sm" %}
            </div>    
        </div>  
        <div class="col-sm-2">                    
            <div class="form-group" >                
                <label for="" >{{form.conta.label}} </label>        
                {% render_field form.conta class="form-control form-control-sm" %}
            </div>    
        </div>   
    </div> 
    
    <h3>REFERÊNCIAS</h3>
    <div class="row">            
        <div class="col-sm-4">                    
            <div class="form-group" >                
                <label for="" >{{form.ref1_nome.label}} </label>        
                {% render_field form.ref1_nome class="form-control form-control-sm" %}
            </div>
        </div>
        <div class="col-sm-4">                    
            <div class="form-group" >                
                <label for="" >{{form.ref1_contato.label}} </label>        
                {% render_field form.ref1_contato class="form-control form-control-sm cel-phone-mask" %}
            </div>
        </div>
        <div class="col-sm-4">                    
            <div class="form-group" >                
                <label for="" >{{form.ref1_parentesco.label}} </label>        
                {% render_field form.ref1_parentesco class="form-control form-control-sm" %}
            </div>
        </div>
        <div class="col-sm-4">                    
            <div class="form-group" >                
                <label for="" >{{form.ref2_nome.label}} </label>        
                {% render_field form.ref2_nome class="form-control form-control-sm" %}
            </div>
        </div>
        <div class="col-sm-4">                    
            <div class="form-group" >                
                <label for="" >{{form.ref2_contato.label}} </label>        
                {% render_field form.ref2_contato class="form-control form-control-sm cel-phone-mask" %}
            </div>
        </div>
        <div class="col-sm-4">                    
            <div class="form-group" >                
                <label for="" >{{form.ref2_parentesco.label}} </label>        
                {% render_field form.ref2_parentesco class="form-control form-control-sm" %}
            </div>
        </div>

    </div>
        </div>
        <div class="tab-pane fade show" id="tab2" role="tabpanel" aria-labelledby="home-tab">           
            <h3>DADOS DO REPRESENTANTE</h3>
    <div class="row">
        <div class="col-sm-6">                    
            <div class="form-group" >                
                <label for="" >{{form.rep_nome.label}} </label>        
                {% render_field form.rep_nome class="form-control form-control-sm" %}
            </div>                    
        </div>
        <div class="col-sm-2">                    
            <div class="form-group" >                
                <label for="" >{{form.rep_cpf.label}} </label>        
                {% render_field form.rep_cpf class="form-control form-control-sm cpf-mask" type="text" %}
                {% if form.rep_cpf.errors %}
                    <li style="color:red;">CPF inválido ou já existe.</li>
                {% endif %}
            </div>
        </div>
        <div class="col-sm-2">                    
            <div class="form-group" >                
                <label for="" >{{form.rep_rg.label}} </label>        
                {% render_field form.rep_rg class="form-control form-control-sm" %}
            </div>
        </div>
        <div class="col-sm-2">                    
            <div class="form-group" >                
                <label for="" >{{form.rep_orgao_emissor.label}} </label>        
                {% render_field form.rep_orgao_emissor  class="form-control form-control-sm upper_all" %}
            </div>    
        </div>  
        {% if cliente_cnpj %}
        <div class="col-sm-3">                    
            <div class="form-group" >                
                <label for="" class="required" >{{form.rep_data_nasc.label}} </label>        
                {% render_field form.rep_data_nasc class="form-control form-control-sm" %}
            </div>
        </div>  
        {% else %}
        <div class="col-sm-3">                    
            <div class="form-group" >                
                <label for="" class="required" >{{form.rep_data_nasc.label}} </label>        
                {% render_field form.rep_data_nasc class="form-control form-control-sm" type="date"%}
            </div>
        </div>  
        {% endif %}
        <div class="col-sm-3">                    
            <div class="form-group" >                
                <label for="" >{{form.rep_naturalidade.label}} </label>        
                {% render_field form.rep_naturalidade  class="form-control form-control-sm" %}
            </div>    
        </div>  
        <div class="col-sm-3">                    
            <div class="form-group" >                
                <label for="" >{{form.rep_nacionalidade.label}} </label>        
                {% render_field form.rep_nacionalidade  class="form-control form-control-sm" value="BRASILEIRA" %}
            </div>    
        </div>  
        <div class="col-sm-3">                    
            <div class="form-group" >                
                <label for="" >{{form.rep_estado_civil.label}} </label>        
                {% render_field form.rep_estado_civil  class="form-control form-control-sm" %}
            </div>    
        </div> 
        <div class="col-sm-3">
            <div class="form-group">            
                <label for="">{{form.rep_conjuge_nome.label}}</label>
                {% render_field form.rep_conjuge_nome class="form-control form-control-sm" %}                    
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">            
                <label for="">{{form.rep_conjuge_cpf.label}}</label>
                {% render_field form.rep_conjuge_cpf class="form-control form-control-sm cpf-mask"%}                    
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">            
                <label for="">{{form.rep_conjuge_telefone.label}}</label>
                {% render_field form.rep_conjuge_telefone class="form-control form-control-sm cel-phone-mask" %}                    
            </div>
        </div>        
    </div> 

    <h3>ENDEREÇO</h3>               

    <div class="row">            
        <div class="col-sm-2">
            <div class="form-group" >                
                <label for="cep2" class="required">{{form.rep_cep.label}} </label>        
                {% render_field form.rep_cep class="form-control form-control-sm cep-mask" id="cep2" type="text"%}                            
            </div>
        </div>
        <div class="col-sm-4">                    
            <div class="form-group" > 
                <label for="logradouro" class="required">{{form.rep_rua.label}} </label>        
                {% render_field form.rep_rua class="form-control form-control-sm" id="logradouro" type="text"%}
            </div>
        </div>
        <div class="col-sm-5">                    
            <div class="form-group" >
                <label for="bairro2" class="required">{{form.rep_bairro.label}} </label>        
                {% render_field form.rep_bairro class="form-control form-control-sm" id="bairro2" type="text"%}
            </div>
        </div>
        <div class="col-sm-1">                    
            <div class="form-group" >
                <label for="uf2" class="required">{{form.rep_uf.label}} </label>        
                {% render_field form.rep_uf class="form-control form-control-sm" id="uf2" type="text"%}
            </div>
        </div>
        <div class="col-sm-3">                    
            <div class="form-group" >
                <label for="cidade2" class="required">{{form.rep_cidade.label}} </label>        
                {% render_field form.rep_cidade class="form-control form-control-sm" id="cidade2" type="text"%}
            </div>
        </div>
        <div class="col-sm-1">                    
            <div class="form-group" >                
                <label for="" > {{form.rep_numero_casa.label}} </label>        
                {% render_field form.rep_numero_casa class="form-control form-control-sm"%}
            </div>
        </div>
        <div class="col-sm-4">                    
            <div class="form-group" >                
                <label for="" >{{form.rep_ponto_referencia.label}} </label>        
                {% render_field form.rep_ponto_referencia class="form-control form-control-sm" %}
            </div>
        </div>            
    </div> 

    <h3>CONTATO</h3>
    <div class="row">
        <div class="col-sm-2">                    
            <div class="form-group" >                
                <label for="" >{{form.rep_contato1.label}} </label>        
                {% render_field form.rep_contato1 class="form-control form-control-sm phone-mask" type="text" %}
            </div>
        </div>
        <div class="col-sm-2">                    
            <div class="form-group" >                
                <label for="" >{{form.rep_celular1.label}} </label>        
                {% render_field form.rep_celular1 class="form-control form-control-sm cel-phone-mask" type="text" %}
                <label class="checkbox-inline"> {{form.rep_whatsapp1.label}} <input type="checkbox" value="rep_whatsapp1" id="rep_whatsapp1" name="rep_whatsapp1"></label> 
            </div>
        </div>
        <div class="col-sm-2">                    
            <div class="form-group" >                
                <label for="" >{{form.rep_celular2.label}} </label>        
                {% render_field form.rep_celular2 class="form-control form-control-sm cel-phone-mask" type="text" %}
                <label class="checkbox-inline"> {{form.rep_whatsapp2.label}} <input type="checkbox" value="rep_whatsapp2" id="rep_whatsapp2" name="rep_whatsapp2"></label>
            </div>
        </div>
        <div class="col-sm-6">                    
            <div class="form-group" >                
                <label for="" >{{form.rep_email.label}} </label>        
                {% render_field form.rep_email class="form-control form-control-sm lower_all" %}
            </div>
        </div>
    </div>
        </div>        
    </div>

    {% if object.pk %}
    <div class="saveFixadoDiv invisible">
        <button class="btn btn-dark saveFixado" float="right" id="salvarCliente">
            <span class="fa fa-save"></span>            
        </button>
    </div>    
    {% else %}
        <div class="saveFixadoDiv invisible">
            <button class="btn btn-dark saveFixado" float="right" id="cadastrarCliente">
                <span class="fa fa-save"></span>           
            </button>
        </div>
    {% endif %}

</form>


{% endblock content %}