{% extends "base.html" %}
{% load widget_tweaks %}
{% block content %}

<style> 
    .table td, .table th {      
        font-size: 13px;       
        padding-left: 10px;
        padding-top: 0px;  
        padding-bottom: 0px;  
        /* border-top: 1px solid #000000;            
        border-bottom: 1px solid #000000;            
        border-left: 1px solid #000000;            
        border-right: 1px solid #000000;                     */
    }  
    .color{
        background-color: rgb(156, 156, 156);
    }  
    h5{
        padding: 5px;
        margin-left: 20px;
        background-color: #ccc;
    }

    @media print{    
        .no-print, .no-print *
        {
            display: none !important;
        }    
        @page {
            margin: 0.5cm;
        }    
        label {
            font-size: 9pt; 
            padding: 0px;
        }
        h2{
            font-weight: bold;
            padding: 0px;
            font-size: 13pt; 
        }    
        div{
            columns:90px 1; 
            margin: 0px,0px,0px,0px;        
        }
        input.form-control{
            font-size: 9pt;  
            border: none;
            /* left: -10px; */
            padding: 0px;
        }    
        @media all {
            .page-break { display: none; }
        }
        @media print {
            .page-break { display: block; page-break-before: always; }
        }
    }  
    hr {
        -moz-border-bottom-colors: none;
        -moz-border-image: none;
        -moz-border-left-colors: none;
        -moz-border-right-colors: none;
        -moz-border-top-colors: none;
        border-color: #EEEEEE -moz-use-text-color #FFFFFF;
        border-style: solid none;
        border-width: 1px 0;
        margin: 18px 0;
    }
    /* .myDiv {
        border: 5px outset rgb(121, 121, 121);
        height: 350px;       
        text-transform: uppercase;
    } */
    /* .myDiv1 {
        border: 5px outset rgb(121, 121, 121);
        height: 200px;       
       
    } */
    div.a {
        text-transform: uppercase;
    }
    
</style>


    <!-- BOTÕES -->
    <div class="row">
        <div class="col-sm-12">
            <span class="pull-right no-print">
                <a href="{% url 'cliente_cnpj:cliente_cnpj_list' %}" type="button" class="btn btn-secondary no-print">Voltar</a>
                <a href="{% url 'cliente_cnpj:cliente_cnpjupdate' object.pk %}" type="button" class="btn btn-info no-print">Editar</a>
                <a href="{% url 'cliente_cnpj:cliente_cnpj_delete' object.pk %}" type="button" class="btn btn-danger no-print">Deletar Cliente</a>
                <a href="" type="button" onclick="window.print()" class="btn btn-warning no-print">Imprimir</a>    
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 a">
            <h1>{{ object.razao_social }}</h1>
        </div>
    </div>
    <br>
    <br>
    <!-- BOTÕES -->

<div class="row">
    <div class="col-sm-6">
        <div class="row">
            <div class="col-sm-12 a">
                <table class="table table-striped">    
                    <h5>dados da empresa</h5>
                    <tbody>        
                        {% if object.razao_social %}           
                            <tr>
                                <th class="text-right" style="width:30%">razão social</th> 
                                <th class="text-left" style="width:70%">{{ object.razao_social }}</th>
                            </tr> 
                        {% endif %}        
                        {% if object.nome_fantasia %}           
                            <tr>
                                <th class="text-right" style="width:30%">nome fantasia</th> 
                                <th class="text-left" style="width:70%">{{ object.nome_fantasia }}</th>
                            </tr> 
                        {% endif %}
                        {% if object.cnpj %}           
                            <tr>
                                <th class="text-right" style="width:30%">cnpj</th> 
                                <th class="text-left" style="width:70%">{{ object.cnpj }}</th>
                            </tr> 
                        {% endif %}
                        {% if object.fundacao %}           
                            <tr>
                                <th class="text-right" style="width:30%">fundação</th> 
                                <th class="text-left" style="width:70%">{{ object.fundacao }}</th>
                            </tr> 
                        {% endif %}
                        {% if object.inscricao_estadual %}           
                            <tr>
                                <th class="text-right" style="width:30%">inscrição estadual</th> 
                                <th class="text-left" style="width:70%">{{ object.inscricao_estadual }}</th>
                            </tr> 
                        {% endif %}
                        {% if object.inscricao_municipal %}           
                            <tr>
                                <th class="text-right" style="width:30%">inscrição municipal</th> 
                                <th class="text-left" style="width:70%">{{ object.inscricao_municipal }}</th>
                            </tr> 
                        {% endif %}
                    </tbody>
                </table>
            </div>  
            <div class="col-sm-12 a">
                <table class="table table-striped">
                    <h5>endereço</h5>
                    <tbody>                    
                        {% if object.cep %}           
                            <tr>
                                <th class="text-right" style="width:30%">cep</th> 
                                <th class="text-left" style="width:70%">{{ object.cep }}</th>
                            </tr> 
                        {% endif %}
                        {% if object.rua %}           
                            <tr>
                                <th class="text-right" style="width:30%">rua</th> 
                                <th class="text-left" style="width:70%">{{ object.rua }}</th>
                            </tr> 
                        {% endif %}
                        {% if object.bairro %}           
                            <tr>
                                <th class="text-right" style="width:30%">bairro</th> 
                                <th class="text-left" style="width:70%">{{ object.bairro }}</th>
                            </tr> 
                        {% endif %}
                        {% if object.cidade %}           
                            <tr>
                                <th class="text-right" style="width:30%">cidade</th> 
                                <th class="text-left" style="width:70%">{{ object.cidade }}</th>
                            </tr> 
                        {% endif %}
                        {% if object.uf %}           
                            <tr>
                                <th class="text-right" style="width:30%">estado</th> 
                                <th class="text-left" style="width:70%">{{ object.uf }}</th>
                            </tr> 
                        {% endif %}
                        {% if object.numero_casa %}           
                            <tr>
                                <th class="text-right" style="width:30%">nº</th> 
                                <th class="text-left" style="width:70%">{{ object.numero_casa }}</th>
                            </tr> 
                        {% endif %}
                        {% if object.ponto_referencia %}           
                            <tr>
                                <th class="text-right" style="width:30%">PONTO DE REFERÊNCIA</th> 
                                <th class="text-left" style="width:70%">{{ object.ponto_referencia }}</th>
                            </tr> 
                        {% endif %}
                        {% if object.complemento %}           
                            <tr>
                                <th class="text-right" style="width:30%">complemento</th> 
                                <th class="text-left" style="width:70%">{{ object.complemento }}</th>
                            </tr> 
                        {% endif %}
                        {% if object. %}           
                            <tr>
                                <th class="text-right" style="width:30%"></th> 
                                <th class="text-left" style="width:70%">{{ object. }}</th>
                            </tr> 
                        {% endif %}
                        {% if object. %}           
                            <tr>
                                <th class="text-right" style="width:30%"></th> 
                                <th class="text-left" style="width:70%">{{ object. }}</th>
                            </tr> 
                        {% endif %}
                        {% if object. %}           
                            <tr>
                                <th class="text-right" style="width:30%"></th> 
                                <th class="text-left" style="width:70%">{{ object. }}</th>
                            </tr> 
                        {% endif %}
                        {% if object. %}           
                            <tr>
                                <th class="text-right" style="width:30%"></th> 
                                <th class="text-left" style="width:70%">{{ object. }}</th>
                            </tr> 
                        {% endif %}
                        {% if object. %}           
                            <tr>
                                <th class="text-right" style="width:30%"></th> 
                                <th class="text-left" style="width:70%">{{ object. }}</th>
                            </tr> 
                        {% endif %}
                        {% if object. %}           
                            <tr>
                                <th class="text-right" style="width:30%"></th> 
                                <th class="text-left" style="width:70%">{{ object. }}</th>
                            </tr> 
                        {% endif %}
                        {% if object. %}           
                            <tr>
                                <th class="text-right" style="width:30%"></th> 
                                <th class="text-left" style="width:70%">{{ object. }}</th>
                            </tr> 
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    var dt = new Date()
    var ndt = new Date()

    var dia_semana = ndt.getDay()
    var dia = ndt.getDate()
    var mes = ndt.getMonth()
    var ano = ndt.getFullYear()

    var horas = ndt.getHours()
    var minutos = ndt.getMinutes()
    var segundos = ndt.getSeconds()


    var meses = new Array("Janeiro", "Fevereiro", "Março", "Abril", "Maio", "Junho" ,"Julho", "Agosto", "Setembro", "Outubro", "Novembro", "Dezembro")
    var semanas = new Array("Domingo", "Segunda", "Terça", "Quarta", "Quinta", "Sexta", "Sábado")


    document.write(semanas[dia_semana] + ", " + dia + " de " + meses[mes] + " de " + ano + "<br/>")
    document.write(horas + ":" + minutos + ":" + segundos)
    
</script>

{% endblock content %}
