{% extends "base.html" %}

{% block css %}

    <style>
        div, .table{
            color: white;
        }
    </style>

{% endblock css %}

{% block content %}

<div class="class page-header" >
    <span class="float-right" >    
        <a href="{% url 'core:fiador_decision' %}" >
            <button type="button" class="btn btn-success">
                <span class="fa fa-plus"></span>Adicionar Clientes
            </button>
        </a>
    </span>
        
    <div>
        <h2>Lista de Clientes Esctop</h2>
    </div>    
    
    {% if object_list %}
    
    <table class="table table-striped table-hover">
        <thead class="thead">
            <tr>
                <th>Razão Social</th>                    
                <th>Fundação</th>
                <th>Forma Constituição</th>                                        
                <th>Inscrição Estadual</th>   
                <th></th>                                
            </tr>
        </thead>
        <tbody>
            {% for object in object_list  %}   
            <tr>
                <td class="maiusculo">{{object.razao_social}}</td>                                        
                <td class="maiusculo">{{ object.fundacao }}</td>
                <td class="maiusculo">{{ object.forma_constituicao }}</td>                                     
                <td class="maiusculo">{{ object.inscricao_estadual }}</td>
                <td style="text-align:center"> 
                    <a href="{{ object.get_absolute_url}}" ><button class="btn btn-info">Gerenciar</button></a> 
                </td>                    
            </tr>
            {% endfor %}
        </tbody>
        </table>
    {% else %}
        <p class="alert alert-warning">Sem Clientes cadastrados</p>
    {% endif %}

</div>

{% endblock content %}