{% extends "base.html" %}
{% load widget_tweaks %}
{% load  static %}
{% block js %}{% endblock js %}
{% block content %}


<!-- https://www.schoolofnet.com/forum/topico/como-enviar-a-mensagem-de-sucesso-ou-erro-para-o-formulario-8495 -->    

<div class="row" >
    <div class="col-sm-12">
        <div class="tab">
            <button class="tablinks active" onclick="openCity(event, 'Page1')">Dados Pessoais</button>
            <button class="tablinks" onclick="openCity(event, 'Page2')">Dados do Local de Trabalho</button>
            <button class="tablinks" onclick="openCity(event, 'Page3')">Dados Bancários</button>
            <button class="tablinks" onclick="openCity(event, 'Page4')">Referências e Observações</button>
        </div>
    </div>
</div>

<div id="Page1" class="tabcontent" style="display:block">
    <form method="POST">
    {% csrf_token %}    
    <h3>CADASTRO PESSOAL</h3>
    <hr/> 
    
    <div class="row" >
        <div class="col-sm-6">                    
            <div class="form-group" >                
                <label for="" class="required" >{{form.nome.label}} </label>        
                {% render_field form.nome class="form-control" %}
            </div>
        </div>
        <div class="col-sm-2">                    
            <div class="form-group" >                
                <label for="" class="required" >{{form.cpf.label}} </label>        
                {% render_field form.cpf class="form-control cpf-mask" type="text"%}
                {% if form.errors %}
                    <li style="color:red;">CPF inválido ou já existe.</li>
                {% endif %}
            </div>
        </div>
        <div class="col-sm-2">                    
            <div class="form-group" >                
                <label for="" class="required" >{{form.rg.label}} </label>        
                {% render_field form.rg class="form-control" %}
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-group" >                
                <label for="" class="required">{{form.orgao_emissor.label}} </label>        
                {% render_field form.orgao_emissor class="form-control" %}
            </div>
        </div>

        {% if object.pk %}
        <div class="col-sm-3">
            <div class="form-group">
                <label for="" class="required">{{form.data_nasc.label}}</label>
                {% render_field form.data_nasc class="form-control date-mask-placeholder" %}                        
            </div>  
        </div>
        {% else %}
            <div class="col-sm-3">
                <div class="form-group">
                    <label for="" class="required">{{form.data_nasc.label}}</label>
                    {% render_field form.data_nasc class="form-control " type="date" %}
                </div>  
            </div>
        {% endif %}
        <div class="col-sm-3">
            <div class="form-group">
                <label for="" class="required">{{form.naturalidade.label}}</label>
                {% render_field form.naturalidade class="form-control"  %}
            </div>  
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label for="" class="required">{{form.nacionalidade.label}}</label>
                {% render_field form.nacionalidade class="form-control" value="BRASILEIRA" %}
            </div>  
        </div>    
        <div class="col-sm-3" > 
            <div class="form-group">            
                <label for="" class="required">{{form.estado_civil.label}}</label>
                {% render_field form.estado_civil class="form-control" %}                    
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">            
                <label for="">{{form.conjuge_nome.label}}</label>
                {% render_field form.conjuge_nome class="form-control" %}                    
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">            
                <label for="">{{form.conjuge_cpf.label}}</label>
                {% render_field form.conjuge_cpf class="form-control cpf-mask"%}                    
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">            
                <label for="">{{form.conjuge_telefone.label}}</label>
                {% render_field form.conjuge_telefone class="form-control cel-phone-mask" %}                    
            </div>
        </div>         
        <div class="col-sm-5">                    
            <div class="form-group" >                
                <label for="" class="required">{{form.nome_da_mae.label}}</label>        
                {% render_field form.nome_da_mae class="form-control" %}
            </div>
        </div>
        <div class="col-sm-5">                    
            <div class="form-group" >                
                <label for="" >{{form.nome_do_pai.label}}</label>        
                {% render_field form.nome_do_pai class="form-control" %}
            </div>
        </div>
    </div>  
    <hr>
        <h3>ENDEREÇO</h3>               
    <hr/>
    <div class="row">
        <div class="col-sm-2">                    
            <div class="form-group" >                
                <label for="" class="required">{{form.cep.label}} </label>        
                {% render_field form.cep class="form-control" name="cep" type="text" id="cep" value="" size="10" maxlength="9" onblur="pesquisacep(this.value);"%}                            
            </div>
        </div>
        <div class="col-sm-4">                    
            <div class="form-group" >                
                <label for="" class="required">{{form.rua.label}} </label>        
                {% render_field form.rua class="form-control" name="rua" type="text" id="rua" size="60" %}
            </div>
        </div>
        <div class="col-sm-1">                    
            <div class="form-group" >                
                <label for="" class="required">{{form.numero_casa.label}} </label>        
                {% render_field form.numero_casa class="form-control" type="text" size="60" %}
            </div>
        </div>
        <div class="col-sm-5">                    
            <div class="form-group" >                
                <label for="" class="required">{{form.bairro.label}} </label>        
                {% render_field form.bairro class="form-control" name="bairro" type="text" id="bairro" size="40" %}
            </div>
        </div>
        <div class="col-sm-3">                    
            <div class="form-group" >                
                <label for="" class="required">{{form.cidade.label}} </label>        
                {% render_field form.cidade class="form-control" name="cidade" type="text" id="cidade" size="40"%}
            </div>
        </div>
        <div class="col-sm-1">                    
            <div class="form-group" >                
                <label for="" class="required">{{form.uf.label}} </label>        
                {% render_field form.uf class="form-control" name="uf" type="text" id="uf" size="2"%}
            </div>
        </div>            
        <div class="col-sm-4">                    
            <div class="form-group" >                
                <label for="" >{{form.complemento.label}} </label>        
                {% render_field form.complemento class="form-control" %}
            </div>
        </div>
        <div class="col-sm-4">                    
            <div class="form-group" >                
                <label for="" >{{form.ponto_referencia.label}} </label>        
                {% render_field form.ponto_referencia class="form-control" %}
            </div>
        </div>
    </div>
        <hr>
            <h3>CONTATO</h3>               
        <hr/>
    <div class="row" >
        <div class="col-sm-2">                    
            <div class="form-group" >                
                <label for="" >{{form.contato1.label}} </label>        
                {% render_field form.contato1 class="form-control phone-mask"  type="text"%}
            </div>
        </div>
        <div class="col-sm-2">                    
            <div class="form-group" >                
                <label for="" >{{form.contato2.label}} </label>        
                {% render_field form.contato2 class="form-control phone-mask" type="text"%}
            </div>
        </div>
        <div class="col-sm-2">                    
            <div class="form-group" >                
                <label for="" >{{form.celular1.label}} </label>        
                {% render_field form.celular1 class="form-control cel-phone-mask" type="text"%}
                <label class="checkbox-inline"> {{form.whatsapp1.label}} <input type="checkbox" value="whatsapp1" id="whatsapp1" name="whatsapp1"></label>
            </div>
        </div>
        <div class="col-sm-2">                    
            <div class="form-group" >                
                <label for="" >{{form.celular2.label}} </label>        
                {% render_field form.celular2 class="form-control cel-phone-mask" type="text"%}
                <label class="checkbox-inline"> {{form.whatsapp2.label}} <input type="checkbox" value="whatsapp2" id="whatsapp2" name="whatsapp2"></label>
            </div>
        </div>
        <div class="col-sm-4">                    
            <div class="form-group" >                
                <label for="" >{{form.email.label}} </label>        
                {% render_field form.email class="form-control lower_all" %}
            </div>
        </div>
    </div>  
</div>
<div id="Page2" class="tabcontent">        
    <div class="row">
        <div class="col-sm-6">                    
            <div class="form-group" >                
                <label for="" >{{form.nome_fantasia.label}} </label>        
                {% render_field form.nome_fantasia class="form-control" %}
            </div>
        </div>
        <div class="col-sm-2">                    
            <div class="form-group" >                
                <label for="" >{{form.contato1_trabalho.label}} </label>        
                {% render_field form.contato1_trabalho class="form-control" %}
            </div>
        </div>
        <div class="col-sm-2">                    
            <div class="form-group" >                
                <label for="" >{{form.contato2_trabalho.label}} </label>        
                {% render_field form.contato2_trabalho class="form-control" %}
            </div>
        </div>
        <div class="col-sm-2">                    
            <div class="form-group" >                
                <label for="" >{{form.celular1_trabalho.label}} </label>        
                {% render_field form.celular1_trabalho class="form-control" %}
                <label class="checkbox-inline"> {{form.whatsapp1.label}} <input type="checkbox" value="whatsapp1" id="whatsapp1" name="whatsapp1"></label>

            </div>
        </div>
        <div class="col-sm-2">                    
            <div class="form-group" >                
                <label for="" >{{form.celular2_trabalho.label}} </label>        
                {% render_field form.celular2_trabalho class="form-control" %}
                <label class="checkbox-inline"> {{form.whatsapp2.label}} <input type="checkbox" value="whatsapp2" id="whatsapp2" name="whatsapp2"></label>
        </div>
        </div>
        <div class="col-sm-2">                    
            <div class="form-group" >                
                <label for="" >{{form.cep_trabalho.label}} </label>        
                {% render_field form.cep_trabalho class="form-control" %}
                        
            </div>
        </div>
        <div class="col-sm-4">                    
            <div class="form-group" >                
                <label for="" >{{form.rua_trabalho.label}} </label>        
                {% render_field form.rua_trabalho class="form-control"  %}
            </div>
        </div>
        <div class="col-sm-1">                    
            <div class="form-group" >                
                <label for="" >{{form.numero_casa_trabalho.label}} </label>        
                {% render_field form.numero_casa_trabalho class="form-control"  %}
            </div>
        </div>               
        <div class="col-sm-4">                    
            <div class="form-group" >                
                <label for="" >{{form.bairro_trabalho.label}} </label>        
                {% render_field form.bairro_trabalho class="form-control"  %}
            </div>
        </div>
        <div class="col-sm-4">                    
            <div class="form-group" >                
                <label for="" >{{form.cidade_trabalho.label}} </label>        
                {% render_field form.cidade_trabalho class="form-control" %}
            </div>
        </div>
        <div class="col-sm-1">                    
            <div class="form-group" >                
                <label for="" >{{form.uf_trabalho.label}} </label>        
                {% render_field form.uf_trabalho class="form-control" %}
            </div>
        </div>
        <div class="col-sm-4">                    
            <div class="form-group" >                
                <label for="" >{{form.referencia_trabalho.label}} </label>        
                {% render_field form.referencia_trabalho class="form-control" %}
            </div>
        </div>
        <div class="col-sm-4">                    
            <div class="form-group" >                
                <label for="" >{{form.obs_trabalho.label}} </label>        
                {% render_field form.obs_trabalho class="form-control" %}
            </div>
        </div>
    </div>   
</div>    

<div id="Page3" class="tabcontent">       
    <div class="row">
        <div class="col-sm-4">                    
            <div class="form-group" >                
                <label for="" >{{form.banco.label}} </label>        
                {% render_field form.banco class="form-control" %}
            </div>    
        </div> 
        <div class="col-sm-4">                    
            <div class="form-group" >                
                <label for="" >{{form.n_operacao.label}} </label>        
                {% render_field form.n_operacao class="form-control" %}
            </div>    
        </div>
        <div class="col-sm-4">                    
            <div class="form-group" >                
                <label for="" >{{form.tipo_de_conta.label}} </label>        
                {% render_field form.tipo_de_conta class="form-control" %}
            </div>    
        </div>             
        <div class="col-sm-2">                    
            <div class="form-group" >                
                <label for="" >{{form.agencia.label}} </label>        
                {% render_field form.agencia class="form-control" %}
            </div>    
        </div>  
        <div class="col-sm-2">                    
            <div class="form-group" >                
                <label for="" >{{form.conta.label}} </label>        
                {% render_field form.conta class="form-control" %}
            </div>    
        </div>     
    </div> 
</div>

<div id="Page4" class="tabcontent">         
    <div class="row">
        
        <div class="col-sm-4">                    
            <div class="form-group" >                
                <label for="" >{{form.ref1_nome.label}} </label>        
                {% render_field form.ref1_nome class="form-control" %}
            </div>
        </div>
        <div class="col-sm-4">                    
            <div class="form-group" >                
                <label for="" >{{form.ref1_contato.label}} </label>        
                {% render_field form.ref1_contato class="form-control cel-phone-mask" %}
            </div>
        </div>
        <div class="col-sm-4">                    
            <div class="form-group" >                
                <label for="" >{{form.ref1_parentesco.label}} </label>        
                {% render_field form.ref1_parentesco class="form-control" %}
            </div>
        </div>
        <div class="col-sm-4">                    
            <div class="form-group" >                
                <label for="" >{{form.ref2_nome.label}} </label>        
                {% render_field form.ref2_nome class="form-control" %}
            </div>
        </div>
        <div class="col-sm-4">                    
            <div class="form-group" >                
                <label for="" >{{form.ref2_contato.label}} </label>        
                {% render_field form.ref2_contato class="form-control cel-phone-mask" %}
            </div>
        </div>
        <div class="col-sm-4">                    
            <div class="form-group" >                
                <label for="" >{{form.ref2_parentesco.label}} </label>        
                {% render_field form.ref2_parentesco class="form-control" %}
            </div>
        </div>          
        <div class="col-sm-4">                    
            <div class="form-group" >                
                <label for="" >{{form.ref3_nome.label}} </label>        
                {% render_field form.ref3_nome class="form-control" %}
            </div>
        </div>
        <div class="col-sm-4">                    
            <div class="form-group" >                
                <label for="" >{{form.ref3_contato.label}} </label>        
                {% render_field form.ref3_contato class="form-control cel-phone-mask" %}
            </div>
        </div>
        <div class="col-sm-4">                    
            <div class="form-group" >                
                <label for="" >{{form.ref3_parentesco.label}} </label>        
                {% render_field form.ref3_parentesco class="form-control" %}
            </div>
        </div>     
        <div class="col-sm-5">                    
            <div class="form-group" >                
                <label for="" class="required" >{{form.fiador.label}} </label>        
                {% render_field form.fiador class="form-control"  %}
            </div>
        </div> 
    </div>
    <div style='float: right;'>
        <button class="btn btn-success" float="right">Cadastrar</button>
    </div>
    </form> 
</div>

<!-- MODAL -->
<div class="modal" id="estadocivilmodal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-tittle">Estado civil</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>x</span>
                </button>
            </div>

            <div class="modal-body">
                
            </div>

            <div class="modal-footer">
                
            </div>
            
        </div>
    </div>
</div>

{% endblock content %}

 

