{% extends "base.html" %}
{% comment %} {% load widget_tweaks %} {% endcomment %}
{% block js %}{% endblock js %}
{% block content %}


<div class="class page-header" >
    {% comment %} <div class="float-right">
        <a href="{% url 'cliente:cliente_add' %}" type="button" class="btn btn-success">Cadastrar Cliente</a>
    </div> {% endcomment %}
     <span class="float-right">    
        <a href="{% url 'core:fiador_decision_1' %}" >
            <button type="button" class="btn btn-success">
                <span class="fa fa-plus"></span>Adicionar
            </button>
        </a>
    </span>
        
    <div>
        <h2>Lista de Clientes(CPF)</h2>
    </div>    
    
    {% if object_list %}
    
    <table class="table table-striped table-hover maiusculo" >
        <thead class="thead">
            <tr>
                <th>Nome</th>                    
                <th>RG</th>
                <th>Data de Nascimento</th>                                        
                <th>CPF</th>   
                <th></th>                                
            </tr>
        </thead>
        <tbody>
            {% for object in object_list  %}   
            <tr>
                <td class="maiusculo">{{object.nome}}</td>                                        
                <td class="maiusculo">{{ object.rg }}</td>
                <td class="maiusculo">{{ object.data_nasc }}</td>                                     
                <td class="maiusculo">{{ object.cpf }}</td> 
                <td style="text-align:center"> 
                    <a href="{{ object.get_absolute_url}}" ><button class="btn btn-info">Gerenciar</button></a> 
                </td>                    
            </tr>
            {% endfor %}
        </tbody>
        </table>
    {% else %}
        <p class="alert alert-warning">Sem Clientes cadastrados</p>
    {% endif %}

</div>

{% endblock content %}