{% extends "base.html" %}
{% load widget_tweaks %}
{% load static %}


{% block css %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<style>
	.form-control:focus {
		color: #495057;
		background-color: #fff;
		border-color: #5eaa84 !important;
		outline: 0;
		box-shadow: none !important;
	}

	.btn-link {        
		box-shadow: none !important;
	}

</style>
{% endblock css %}

{% block content %}


<!--Accordion wrapper-->
<form method="POST" novalidate>
	{% csrf_token %}
	<div class="row mt-1">
		<div class="col-sm-12 col-md-9 card card-body">
			<div class="accordion" id="accordion">
				<div class="card">
					<div class="card-header panel-heading" id="heading-1">
						<h2 class="mb-0" id="h2-icon-1">
							<button class="btn btn-link btn-block text-center text-decoration-none text-uppercase" type="button" data-toggle="collapse" data-target="#collapse-1" aria-expanded="true" aria-controls="collapse-1">
								Dados pessoais<i id="icon-1" class="fa-solid fa-minus float-right"></i>
							</button>
						</h2>
					</div>
					<div id="collapse-1" class="collapse colapseForm show" aria-labelledby="heading-1" data-parent="#accordion">
						<div class="card-body">
							<div class="row">
								<div class="col-sm-6">
									<div class="form-group">
										<label for="" class="required">{{form.nome.label}} </label>
										{% render_field form.nome class="form-control form-control-sm" %}
										{% if form.nome.errors %}
											<small class="text-danger">{{form.nome.errors}}</small> 
										{% endif %}
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<label for="" class="required">{{form.cpf.label}} </label>
										{% render_field form.cpf class="form-control form-control-sm cpf-mask" type="text"%}
										{% if form.cpf.errors %}
											<small class="text-danger">{{form.cpf.errors}}</small> 
										{% endif %}
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<label for="" class="required">{{form.rg.label}} </label>
										{% render_field form.rg class="form-control form-control-sm" %}
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<label for="" class="required">{{form.orgao_emissor.label}} </label>
										{% render_field form.orgao_emissor class="form-control form-control-sm text-uppercase" %}
									</div>
								</div>

								<div class="col-sm-6">
									<label for="" class="required">{{form.data_nasc.label}}</label>
									{% render_field form.data_nasc class="form-control form-control-sm" type="date"%}
										<small class="form-text text-muted">
											{{ form.data_nasc.help_text }}
										</small>
									{% if form.data_nasc.errors %}
										<label class="text-danger">
										{{ form.data_nasc.errors.0 }}</label>
									{% endif %}
								</div>

								<div class="col-sm-6">
									<div class="form-group">
										<label for="" class="required">{{form.naturalidade.label}}</label>
										{% render_field form.naturalidade class="form-control form-control-sm" %}
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<label for="" class="required">{{form.nacionalidade.label}}</label>
										{% render_field form.nacionalidade class="form-control form-control-sm" value="BRASILEIRA" %}
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<label for="" class="required">{{form.estado_civil.label}}</label>
										{% render_field form.estado_civil class="form-control form-control-sm" %}
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<label for="" class="required">{{form.nome_da_mae.label}}</label>
										{% render_field form.nome_da_mae class="form-control form-control-sm" %}
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<label for="">{{form.nome_do_pai.label}}</label>
										{% render_field form.nome_do_pai class="form-control form-control-sm" %}
									</div>
								</div>

							</div>
						</div>
					</div>
				</div><!-- Accordion 1 -->

				<div class="card">
					<div class="card-header panel-heading" id="heading-2">
						<h2 class="mb-0" id="h2-icon-2">
						<button class="btn btn-link btn-block text-center collapsed text-decoration-none text-uppercase" type="button" data-toggle="collapse" data-target="#collapse-2" aria-expanded="false" aria-controls="collapse-2">
							dados do local de trabalho<i id="icon-2" class="fa-solid fa-plus float-right"></i>
						</button>
						</h2>
					</div>
					<div id="collapse-2" class="collapse colapseForm" aria-labelledby="heading-2" data-parent="#accordion">
						<div class="card-body">
						Some placeholder content for the second accordion panel. This panel is hidden by default.
						</div>
					</div>
				</div><!-- Accordion 2 -->

				<div class="card">
					<div class="card-header panel-heading" id="heading-3">
						<h2 class="mb-0" id="h2-icon-3">
						<button class="btn btn-link btn-block text-center collapsed text-decoration-none text-uppercase" type="button" data-toggle="collapse" data-target="#collapse-3" aria-expanded="false" aria-controls="collapse-3">
							Dados bancários<i id="icon-3" class="fa-solid fa-plus float-right"></i>
						</button>
						</h2>
					</div>
					<div id="collapse-3" class="collapse colapseForm" aria-labelledby="heading-3" data-parent="#accordion">
						<div class="card-body">
						And lastly, the placeholder content for the third and final accordion panel. This panel is hidden by default.
						</div>
					</div>
				</div><!-- Accordion 3 -->

				<div class="card">
					<div class="card-header panel-heading" id="heading-4">
						<h2 class="mb-0" id="h2-icon-4">
						<button class="btn btn-link btn-block text-center collapsed text-decoration-none text-uppercase" type="button" data-toggle="collapse" data-target="#collapse-4" aria-expanded="false" aria-controls="collapse-4">
							Referências e observações<i id="icon-4" class="fa-solid fa-plus float-right"></i>
						</button>
						</h2>
					</div>
					<div id="collapse-4" class="collapse colapseForm" aria-labelledby="heading-4" data-parent="#accordion">
						<div class="card-body">
						And lastly, the placeholder content for the third and final accordion panel. This panel is hidden by default.
						</div>
					</div>
				</div><!-- Accordion 4 -->

			</div>
		</div><!-- Accordion -->

		<div class="col-sm-12 col-md-3 card card-body">
			<button id="confirm" type="submit" class="btn btn-success my-2 text-uppercase font-weight-bold">
				<i class="fa-solid fa-check"> Cadastrar</i>
			</button>
			<a id="cancel" class="btn btn-danger my-2 text-uppercase font-weight-bold">
				<i class="fa-solid fa-x"> Descartar</i>
			</a>
		</div>

	</div>

</form> 
<!-- Accordion wrapper -->

{% comment %} <form method="POST">
	{% csrf_token %}
	<div class="row fixed-top my-5" style="padding: 5px;border: none;">
		<div class="col">
			<div class="container " style="margin-top: 3px;">
				<ul class="nav nav-tabs bg-white px-5 py-2" id="myTab" role="tablist">
					<li class="nav-item " role="presentation">
						<a class="nav-link aTab active" data-toggle="tab" href="#tab1" role="tab" aria-selected="true">
							Dados Pessoais
						</a>
					</li>
					<li class="nav-item" role="presentation">
						<a class="nav-link aTab" data-toggle="tab" href="#tab2" role="tab" aria-selected="true">
							Dados do Local de Trabalho
						</a>
					</li>
					<li class="nav-item" role="presentation">
						<a class="nav-link aTab" data-toggle="tab" href="#tab3" role="tab" aria-selected="true">
							Dados Bancários
						</a>
					</li>

					{% if object.pk %}
					<li class="nav-item ml-auto" role="presentation">
						<label for="salvarCliente">
							<a class="nav-link btn btn-success" role="tab" aria-selected="true" style="margin:0;">
								<span class="fa fa-save"></span>
								Salvar
							</a>
						</label>
					</li>
					{% else %}
					<li class="nav-item ml-auto" role="presentation">
						<label for="cadastrarCliente">
							<a class="nav-link btn btn-success" role="tab" aria-selected="true">
								<span class="fa fa-save"></span>
								Cadastrar
							</a>
						</label>
					</li>
					{% endif %}
				</ul>

			</div>
		</div>
	</div>
	<!-- ############################################################################################################ -->

	<div class="tab-content pt-5" id="myTabContent">
		<div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="home-tab">
			<h3>DADOS DO FIADOR (CREDCOOP)</h3>
			<div class="row">

				
			<h3>ENDEREÇO</h3>
			<div class="row">
				<div class="col-sm-2">
					<div class="form-group">
						<label for="" class="required">{{form.cep.label}} </label>
						{% render_field form.cep class="form-control form-control-sm" name="cep" type="text" id="cep"
						value="" size="10" maxlength="9" onblur="pesquisacep(this.value);"%}
					</div>
				</div>
				<div class="col-sm-4">
					<div class="form-group">
						<label for="" class="required">{{form.rua.label}} </label>
						{% render_field form.rua class="form-control form-control-sm" name="rua" type="text" id="rua"
						size="60" %}
					</div>
				</div>
				<div class="col-sm-1">
					<div class="form-group">
						<label for="" class="required">{{form.numero_casa.label}} </label>
						{% render_field form.numero_casa class="form-control form-control-sm" name="rua" type="text"
						id="rua" size="60" %}
					</div>
				</div>
				<div class="col-sm-5">
					<div class="form-group">
						<label for="" class="required">{{form.bairro.label}} </label>
						{% render_field form.bairro class="form-control form-control-sm" name="bairro" type="text"
						id="bairro" size="40" %}
					</div>
				</div>
				<div class="col-sm-3">
					<div class="form-group">
						<label for="" class="required">{{form.cidade.label}} </label>
						{% render_field form.cidade class="form-control form-control-sm" name="cidade" type="text"
						id="cidade" size="40"%}
					</div>
				</div>
				<div class="col-sm-1">
					<div class="form-group">
						<label for="" class="required">{{form.uf.label}} </label>
						{% render_field form.uf class="form-control form-control-sm" name="uf" type="text" id="uf"
						size="2"%}
					</div>
				</div>
				<div class="col-sm-4">
					<div class="form-group">
						<label for="">{{form.complemento.label}} </label>
						{% render_field form.complemento class="form-control form-control-sm" %}
					</div>
				</div>
				<div class="col-sm-4">
					<div class="form-group">
						<label for="">{{form.ponto_referencia.label}} </label>
						{% render_field form.ponto_referencia class="form-control form-control-sm" %}
					</div>
				</div>
			</div>
			<h3>CONTATO</h3>
			<div class="row">
				<div class="col-sm-2">
					<div class="form-group">
						<label for="">{{form.contato1.label}} </label>
						{% render_field form.contato1 class="form-control form-control-sm phone-mask" type="text"%}
					</div>
				</div>
				<div class="col-sm-2">
					<div class="form-group">
						<label for="">{{form.contato2.label}} </label>
						{% render_field form.contato2 class="form-control form-control-sm phone-mask" type="text"%}
					</div>
				</div>
				<div class="col-sm-2">
					<div class="form-group">
						<label for="">{{form.celular1.label}} </label>
						{% render_field form.celular1 class="form-control form-control-sm cel-phone-mask" type="text"%}
						<label class="checkbox-inline"> {{form.whatsapp1.label}} <input type="checkbox"
								value="whatsapp1" id="whatsapp1" name="whatsapp1"></label>
					</div>
				</div>
				<div class="col-sm-2">
					<div class="form-group">
						<label for="">{{form.celular2.label}} </label>
						{% render_field form.celular2 class="form-control form-control-sm cel-phone-mask" type="text"%}
						<label class="checkbox-inline"> {{form.whatsapp2.label}} <input type="checkbox"
								value="whatsapp2" id="whatsapp2" name="whatsapp2"></label>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="form-group">
						<label for="">{{form.email.label}} </label>
						{% render_field form.email class="form-control form-control-sm lower_all" %}
					</div>
				</div>
			</div>

		</div>
		<div class="tab-pane fade show" id="tab2" role="tabpanel" aria-labelledby="home-tab">
			<div class="row">
				<div class="col-sm-4">
					<div class="form-group">
						<label for="">{{form.nome_fantasia.label}} </label>
						{% render_field form.nome_fantasia class="form-control form-control-sm" %}
					</div>
				</div>
				<div class="col-sm-2">
					<div class="form-group">
						<label for="">{{form.contato1_trabalho.label}} </label>
						{% render_field form.contato1_trabalho class="form-control form-control-sm" %}
					</div>
				</div>
				<div class="col-sm-2">
					<div class="form-group">
						<label for="">{{form.contato2_trabalho.label}} </label>
						{% render_field form.contato2_trabalho class="form-control form-control-sm" %}
					</div>
				</div>
				<div class="col-sm-2">
					<div class="form-group">
						<label for="">{{form.celular1_trabalho.label}} </label>
						{% render_field form.celular1_trabalho class="form-control form-control-sm" %}
						<label class="checkbox-inline"> {{form.whatsapp1_trabalho.label}} <input type="checkbox"
								value="whatsapp1" id="whatsapp1" name="whatsapp1"></label>
					</div>
				</div>
				<div class="col-sm-2">
					<div class="form-group">
						<label for="">{{form.celular2_trabalho.label}} </label>
						{% render_field form.celular2_trabalho class="form-control form-control-sm" %}
						<label class="checkbox-inline"> {{form.whatsapp2_trabalho.label}} <input type="checkbox"
								value="whatsapp2" id="whatsapp2" name="whatsapp2"></label>
					</div>
				</div>
				<div class="col-sm-2">
					<div class="form-group">
						<label for="cep2">{{form.cep_trabalho.label}} </label>
						{% render_field form.cep_trabalho class="form-control form-control-sm cep-mask" id="cep2"
						type="text"%}

					</div>
				</div>
				<div class="col-sm-4">
					<div class="form-group">
						<label for="logradouro">{{form.rua_trabalho.label}} </label>
						{% render_field form.rua_trabalho class="form-control form-control-sm" id="logradouro"
						type="text"%}
					</div>
				</div>
				<div class="col-sm-5">
					<div class="form-group">
						<label for="bairro2">{{form.bairro_trabalho.label}} </label>
						{% render_field form.bairro_trabalho class="form-control form-control-sm" id="bairro2"
						type="text"%}
					</div>
				</div>
				<div class="col-sm-1">
					<div class="form-group">
						<label for="uf2">{{form.uf_trabalho.label}} </label>
						{% render_field form.uf_trabalho class="form-control form-control-sm" id="uf2" type="text"%}
					</div>
				</div>
				<div class="col-sm-3">
					<div class="form-group">
						<label for="cidade2">{{form.cidade_trabalho.label}} </label>
						{% render_field form.cidade_trabalho class="form-control form-control-sm" id="cidade2"
						type="text"%}
					</div>
				</div>
				<div class="col-sm-1">
					<div class="form-group">
						<label for="">{{form.numero_casa_trabalho.label}} </label>
						{% render_field form.numero_casa_trabalho class="form-control form-control-sm" type="text"
						size="60" %}
					</div>
				</div>
				<div class="col-sm-4">
					<div class="form-group">
						<label for="">{{form.referencia_trabalho.label}} </label>
						{% render_field form.referencia_trabalho class="form-control form-control-sm" %}
					</div>
				</div>
				<div class="col-sm-4">
					<div class="form-group">
						<label for="">{{form.obs_trabalho.label}} </label>
						{% render_field form.obs_trabalho class="form-control form-control-sm" style="height: 100px;"%}
					</div>
				</div>
			</div>
		</div>
		<div class="tab-pane fade show" id="tab3" role="tabpanel" aria-labelledby="home-tab">
			<div class="row">
				<div class="col-sm-4">
					<div class="form-group">
						<label for="">{{form.banco.label}} </label>
						{% render_field form.banco class="form-control form-control-sm" %}
					</div>
				</div>
				<div class="col-sm-4">
					<div class="form-group">
						<label for="">{{form.n_operacao.label}} </label>
						{% render_field form.n_operacao class="form-control form-control-sm" %}
					</div>
				</div>
				<div class="col-sm-4">
					<div class="form-group">
						<label for="">{{form.tipo_de_conta.label}} </label>
						{% render_field form.tipo_de_conta class="form-control form-control-sm" %}
					</div>
				</div>
				<div class="col-sm-2">
					<div class="form-group">
						<label for="">{{form.agencia.label}} </label>
						{% render_field form.agencia class="form-control form-control-sm" %}
					</div>
				</div>
				<div class="col-sm-2">
					<div class="form-group">
						<label for="">{{form.conta.label}} </label>
						{% render_field form.conta class="form-control form-control-sm" %}
					</div>
				</div>
			</div>
		</div>

		{% if object.pk %}
		<div class="saveFixadoDiv invisible">
			<button class="btn btn-dark saveFixado" id="salvarCliente">
				<span class="fa fa-save"></span>
			</button>
		</div>

		{% else %}
		<div class="saveFixadoDiv invisible">
			<button class="btn btn-dark saveFixado" id="cadastrarCliente">
				<span class="fa fa-save"></span>
			</button>
		</div>
		{% endif %}
	</div>
</form> {% endcomment %}

{% endblock content %}
{% block js %}
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="{% static 'bootstrap/js/deactive_enter.js' %}"></script>
<script src="{% static 'bootstrap/js/toggle-accordion.js' %}"></script>
<script src="{% static 'js/vue.js' %}"></script>



<script>
	var app = new Vue({
		delimiters: ['${', '}'],
		el: '#app',
		data: {
		
		},
		methods: {
		},
		
		mounted: function () {
			toggleAccordion()

			$('#confirm').click(function(){
				Swal.fire({
					title: 'Salvar alterações?',
					showCancelButton: true,
					confirmButtonText: 'Cadastrar',
					cancelButtonText: `Cancelar`,
				}).then((result) => {
					if (result.isConfirmed) {
						Swal.fire('Alterações descartadas!', '', 'success')
						location.replace(href="{% url 'cliente:credcoop_add' %}")
						console.log("Entrou 1")
					}
				})
			});
			
			$('#cancel').click(function(){
				Swal.fire({
					title: 'Do you want to save the changes?',
					showDenyButton: true,
					confirmButtonText: 'Descartar alterações',
					denyButtonText: 'Cancelar',
				}).then((result) => {		
					if (result.isConfirmed) {
						Swal.fire({
							icon: 'success',
							title: 'Alterações descartadas',
							showConfirmButton: false,
							timer: 1500
						})
						setTimeout(() => {location.replace(href="{% url 'cliente:credcoop_cliente_list' %}")}, 2000);
					} else if (result.isDenied) {
						Swal.fire({
							icon: 'success',
							title: 'Alterações descartadas',
							showConfirmButton: false,
							timer: 1500
						})
					}
				})
				
			});
			
		}
	})
	
</script>

{% endblock js %}