{% extends "base.html" %}
{% load widget_tweaks %}
{% load static %}

{% block css %}
    <style>
        h3 {
            background-color: rgba(228, 226, 226, 0.83);
            color: rgb(0, 0, 0);
            padding: 5px;
            border-radius: 1px;
            text-align: center;
        }
      
    
    </style>
{% endblock css %}

{% block content %}


<h1>Formulario</h1>
<form method="POST">
    {% csrf_token %}
    <div class="row">
        <div class="col-6 border border-danger">
            <div class="col-6">
                <div class="form-group">
                    <label class="required">{{form.nome.label}} </label>
                    {% render_field form.nome class="form-control form-control-sm" %}
                </div>
            </div>
        </div>
        <div class="col-6 border border-success">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="required">{{form.nome.label}} </label>
                    {% render_field form.nome class="form-control form-control-sm" %}
                </div>
            </div>  
        </div>
    </div>
</form>

{% endblock content %}

{% block js %}
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>


{% endblock js %}
