{% extends "base_impressoes_refatorado.html" %}
{% load static %}

{% block content %}

    <div class="row my-2" :class="(index+1) % 4 == 0 && (index+1) >= 4 ? 'pageBreak':''" v-for="(parcela, index) in emprestimo.parcelas">
        <div class="col-12 border border-dark rounded-top rounded-bottom">
            <div class="row">
                <div class="col-2" style="height:350px !important;">

                    {% if object.cliente_cnpj.fiador.fiador_nome and object.cliente_cnpj.fiador_inativo or not object.cliente_cnpj.fiador.fiador_nome and not object.cliente_cnpj.fiador_inativo or not object.cliente_cnpj.fiador.fiador_nome and object.cliente_cnpj.fiador_inativo %}
                        <div>
                            <a style="writing-mode: vertical-lr; transform: rotate(180deg);">&nbsp</a>
                            <a style="writing-mode: vertical-lr; transform: rotate(180deg);">&nbsp&nbsp____________________________________&nbsp&nbsp&nbsp</a>
                            <a style="writing-mode: vertical-lr; transform: rotate(180deg);">&nbsp&nbsp____________________________________&nbsp&nbsp&nbsp</a>
                        </div>
                    {% endif %}

                    {% if object.cliente_cnpj.fiador.fiador_nome and not object.cliente_cnpj.fiador_inativo %}
                        <div>
                            <a style="writing-mode: vertical-lr; transform: rotate(180deg);"><b>&nbsp&nbspFIADOR:</b></a>
                            <a style="writing-mode: vertical-lr; transform: rotate(180deg);"><b>&nbsp&nbsp${fiador_nome}</b></a>
                            <a style="writing-mode: vertical-lr; transform: rotate(180deg);">&nbsp&nbsp____________________________________&nbsp&nbsp&nbsp</a>
                            <a style="writing-mode: vertical-lr; transform: rotate(180deg);">&nbsp&nbsp____________________________________&nbsp&nbsp&nbsp</a>
                        </div>
                    {% endif %}

                </div>
                <div class="col-10" style="height:350px !important;">
                    <div class="row font-weight-bold">
                        <div class="col-2 border border-dark mt-3 d-flex justify-content-center">N° ${index + 1}/${emprestimo.qtd_parcelas}</div>
                        <div class="col-7 mt-3">Vencimento: ${moment(parcela.vencimento).format("DD/MM/YYYY")} </div>
                        <div class="col-2 border border-dark mt-3 d-flex justify-content-center">${currencyFormat({{object.valor_prestacao}})}</div>
                    </div>
                    <div class="row">
                        <div class="col-11 mt-3 d-flex justify-content-center">
                            <p class="text-justify h5 pt-3">                     
                                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Ao(s) <u>${moment(parcela.vencimento).format("DD")} de ${moment(parcela.vencimento).format("MMMM")} de ${moment(parcela.vencimento).format("YYYY")}</u> pagarei por esta única via de NOTA PROMISSÓRIA 
                                a ESCTOP - EMPRESA SIMPLES DE CRÉDITO LTDA, CNPJ 35.297.061/0001-47 ou à sua ordem, a quantia de <u> ${extensoNumber('{{object.valor_prestacao}}')}</u> 
                                em moeda corrente deste país, pagável em ESCRITÓRIO NATAL/RN.
                            </p>
                        </div>
                    </div>

                    <div class="row mt-4" style="margin-right:5px !important;">
                        <div class="col-6">
                            <p class="text-center m-0"><b><u>{{object.cliente_cnpj.razao_social}}</u></b></p>
                            <p class="text-center m-0" style="font-size:12px !important;">EMITENTE</p>
                            <p class="text-center m-0"><b>CNPJ:</b> {{object.cliente_cnpj.cnpj}}</p>
                        </div>
                        <div class="col-5">
                            <p class="text-center m-0"><b><u>{{object.dt_emprestimo}}</u></b></p>
                            <p class="text-center m-0" style="font-size:12px !important;">DATA DA EMISSÃO</p>
                            <p class="text-center m-0">____________________________________</p>
                            <p class="text-center m-0" style="font-size:12px !important;">ASSINATURA DO EMITENTE</p>
                        </div>
                        <div class="col-1">

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <h3 class="first"></h3>
    <div class="insert"></div>

    
{% endblock content %}

{% block js %}

<script src="{% static 'js/moment.js' %}"></script>
<script src="{% static 'js/vue.js' %}"></script>
<script src="{% static 'js/extenso.min.js' %}"></script>

<script>
    moment.locale('pt-br')
    var app = new Vue({
		delimiters: ['${', '}'],
		el: '#app',
		data: {
            fiador: "{{object.cliente_cnpj.fiador|default:''}}",
            fiador_nome: "{{object.cliente_cnpj.fiador.fiador_nome}}",
            controls: {
                passou_por_fevereiro: false,
            },
            emprestimo: {
                dataEmprestimo: moment("{{object.dt_emprestimo|safe}}"),
                valor_emprestado: {{object.valor_emprestado|safe}},
                qtd_parcelas: {{object.qtd_parcelas|safe}},
                valor_prestacao: {{object.valor_prestacao|safe}},
                parcelas: [],
                valor_emprestado: {{object.valor_emprestado|safe}},
                valor_mutuado: {{object.valor_mutuado|safe}},
                valor_devido: {{object.valor_devido|safe}},
            },
		},
		methods: {
            extensoNumber(number) {
                return extenso(number, { 
                    mode: 'currency',
                    number: { decimal: 'informal' }, 
                })
            },
            currencyFormat(number) {
                return number.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' })
            },
            getParcelas() {
                let base_date = moment(this.emprestimo.dataEmprestimo)

                let vencimento = base_date.add(0, 'month')

                for (let i = 0 ; i < this.emprestimo.qtd_parcelas; i++) {

                    if(this.emprestimo.dataEmprestimo.month() == 0 && this.emprestimo.dataEmprestimo.date() >= 29) {
                        vencimento = base_date.date(1).add(i == 0 ? 2:1, 'month')

                    } else if(vencimento.daysInMonth() == 28 && moment(base_date).date() > 28){
                        vencimento = base_date.date(1).add(1, 'month')
                    }
                    else {
                        vencimento = base_date.add(1, 'month')
                    }

                    this.emprestimo.parcelas.push({						
                        vencimento: vencimento.format("YYYY/MM/DD"),
                        valor_parcela: this.emprestimo.valor_prestacao
                    })
                }
			},
        },
		mounted() {
            this.getParcelas()
            var bottom = 0;
            $(document).ready(function() {
            $(".pageBreak").slice(0, $(".pageBreak").length - 1).each(function() {
                bottom -= 100;
                botString = bottom.toString();
                var $counter = $('h3.first').text(' de ' + $(".pageBreak").length).clone().removeClass('first');
                $counter.css("bottom", botString + "%");
                    ($counter).insertBefore('.insert');
                });
            });
        },
		watch: {
			
		},
	})
    
</script>

{% endblock js %}